[2020-07-03 20:11] TheAwesomeYT commented on #395
When I use "Browse", it just says 'Exception: '

[2020-07-03 22:03] blue-fish commented on #395
Can you copy and paste the error message and traceback from the terminal? We need more info to troubleshoot the issue.

[2020-07-03 22:26] TheAwesomeYT commented on #395
Sure, here you go:
[code]

[2020-07-03 22:40] blue-fish commented on #395
Take a look at librosa/librosa#219, you may need to install a backend.

[2020-07-04 00:05] #339 closed

[2020-07-04 13:56] blue-fish commented on #336
It's not a straight copy of WaveRNN, you will need to make some modifications. For example, the problematic line of code in this repo is:

https://github.com/CorentinJ/Real-Time-Voice-Cloning/blob/ba1a78d869030f996c771fd2e9f244e57dfd2e8d/vocoder/models/fatchord_version.py#L4

[2020-07-04 14:00] #396 closed

[2020-07-04 14:15] blue-fish commented on #336
I should also add that the voice cloning code is not meant to consume pretrained models that have not been trained on this codebase. The Tacotron2 in this repo has a special modification to take the embedding from the speaker encoder, without it cloning a voice is not possible. The WaveRNN also needs to be trained using data from the modified Tacotron2.

Please take a look at [this](https://github

[2020-07-04 14:15] #336 closed

[2020-07-04 14:40] blue-fish commented on #347
#324 is also related (too few words and large gaps in output appear)

[2020-07-04 14:50] blue-fish commented on #326
It also appears that the package requirements are not installed. Please reopen this issue if you continue to experience problems.

[2020-07-04 14:50] #326 closed

[2020-07-04 14:52] blue-fish commented on #341
Looks to be resolved, feel free to reopen if the issue persists.

[2020-07-04 14:52] #341 closed

[2020-07-04 14:52] blue-fish commented on #349
This repo will run without webrtcvad now (#375).

[2020-07-04 14:52] #349 closed

[2020-07-04 14:54] blue-fish commented on #358
Issue is stale and not a bug related to the code in this repo, closing at this time. @NumpyG feel free to reopen if this continues to be a problem.

[2020-07-04 14:54] #358 closed

[2020-07-04 15:01] blue-fish commented on #383
Have you ever successfully run demo_cli.py or demo_toolbox.py with the pretrained models in the wiki? Your 2nd message looks to be such an attempt. Try starting with a clean copy of the code and verify that demo_cli.py works with the pretrained models before switching to your own.

[2020-07-04 15:03] blue-fish commented on #394
Please post any follow-up questions in #30. Closing as a duplicate.

[2020-07-04 15:03] #394 closed

[2020-07-04 15:04] blue-fish commented on #386
Hi @bllurr , did you get it to work?

[2020-07-04 15:11] blue-fish commented on #357
Seems like tensorflow version mismatch. Please pull the latest version of this repo and ensure you are running the version of tensorflow in requirements.txt (currently 1.15).

We changed that code in #366:
https://github.com/CorentinJ/Real-Time-Voice-Cloning/blob/f6fabeaf3effdf2f023db98b37bdabd1ec3d81e5/synthesizer/models/modules.py#L92

Please reopen this issue if you continue to have problems af

[2020-07-04 15:11] #357 closed

[2020-07-04 15:14] rustygentile opened #398 "For anyone still having trouble, you can check out my fork and run this project using SageMaker"
Shameless plug: https://github.com/rustygentile/Real-Time-Voice-Cloning

I'm told most of the installation pain has been resolved now that there's CPU support. Still, you might find this useful in case you want to generate a large number of voice files.

[2020-07-04 15:15] blue-fish commented on #386
The [last issue](https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/386#issuecomment-650557195) is a duplicate of #321 (no solution posted). If you were able to get past that step would you please share your solution?

[2020-07-04 15:17] blue-fish commented on #398
@rustygentile Do you know if training would work with Sagemaker? That could also be another use case.

[2020-07-04 15:19] blue-fish commented on #386
You might also want to check out #398 as an potential alternative if you continue to have issues with the setup.

[2020-07-04 15:21] rustygentile commented on #398
Yes, that would absolutely be possible. I might take that up now if there's enough interest.

[2020-07-04 15:23] blue-fish commented on #323
Closing as this issue has been resolved.

[2020-07-04 15:23] #323 closed

[2020-07-04 15:39] blue-fish commented on #398
I am interested in the training use case. Use the repo locally on CPU or low-end GPU for development, then transfer to Sagemaker when everything is working.

In your README.md you mention using `ml.p2.xlarge` which costs $1.26/hour for (4 vCPU + 61 GB mem) + (K80 GPU + 12 GB). On the pricing page there is also an option of using `ml.g4dn.xlarge` which is $0.74/hour for (4 vCPU + 16 GB mem) + (T4 G

[2020-07-04 16:08] blue-fish commented on #398
Now that it runs on CPU, inference could run on the same `ml.t2.medium` instance you recommend for installation ($0.0464/hour for 2 vCPU + 4 GB mem). Though I would still recommend getting a GPU instance if playing with the toolbox for more than a few minutes.

[2020-07-04 16:15] blue-fish commented on #398
Also for maintainability it might be best to make the Sagemaker version a distinct repo instead of a direct fork, and incorporate files from this repo as a submodule.

[2020-07-04 16:21] blue-fish commented on #325
Tensorflow-gpu is [no longer supported on mac](https://stackoverflow.com/q/44744737) so `pip install -r requirements.txt` will fail on tensorflow-gpu==1.15

However, tensorflow-gpu is no longer a hard requirement since we added CPU support. I'll submit a pull request to resolve this issue.

[2020-07-04 17:10] goodmangu commented on #383
Yes, I can run both demo apps before starting encoder training using all
pretrained models. After finish encoder training, I am running issues with
running the demo apps.

On Sat, Jul 4, 2020 at 11:02 AM blue-fish <notifications@github.com> wrote:

[2020-07-04 17:15] blue-fish commented on #332
I believe this can be closed as @CorentinJ has outlined a vision for continued development, and is allowing the community to provide contributions to the repo. See #364

[2020-07-04 17:19] blue-fish commented on #330
It is likely you are missing the LibriSpeech alignments which tell the training script which datasets are available to it. Please read the directions on this page closely: https://github.com/CorentinJ/Real-Time-Voice-Cloning/wiki/Training

[2020-07-04 17:23] blue-fish commented on #356
Pleased that you were able to get it working @marshonhuckleberry ! I am going to close this issue now as it is resolved.

[2020-07-04 17:23] #356 closed

[2020-07-04 17:27] blue-fish commented on #383
Did you modify any hyperparameters or other files in the repo? If you want, you could upload your pretrained encoder and I can see if I also get the error message.

Also can you list your installed packages and their versions (`pip list` or `conda list`)?

[2020-07-04 17:32] blue-fish commented on #342
I am not sure what happened with your copy of the repo, but you can see that it is referenced as `unidecode` with proper capitalization.

https://github.com/CorentinJ/Real-Time-Voice-Cloning/blob/f6fabeaf3effdf2f023db98b37bdabd1ec3d81e5/synthesizer/utils/cleaners.py#L14

Make your 14 of synthesizer/utils/cleaners.py match this and it will resolve the issue.

[2020-07-04 17:32] #342 closed

[2020-07-04 17:35] blue-fish commented on #350
Take a look at librosa/librosa#219, you need to install a backend. The person who had this same issue in #386 resolved this by installing ffmpeg.

[2020-07-04 17:35] #350 closed

[2020-07-04 17:45] blue-fish commented on #330
I've confirmed that this occurs when the alignments are not present.

[2020-07-04 17:45] #330 closed

[2020-07-04 18:05] goodmangu commented on #383
Thanks, and here is my pre-trained encoder - I have not modified the hyperparameters.
[my_run.zip](https://github.com/CorentinJ/Real-Time-Voice-Cloning/files/4873533/my_run.zip)

[2020-07-04 18:08] goodmangu commented on #383
@blue-fish: do you have a version that passes synthesizer training, and also can run the demo apps?

[2020-07-04 18:08] blue-fish commented on #315
I am going to close this because CPU support can be used as a fallback, even for training. The inability to use older GPUs is a limitation of the dependencies (PyTorch, Tensorflow). If you need GPU acceleration, it will be required to upgrade your GPU.

[2020-07-04 18:08] #315 closed

[2020-07-04 18:12] blue-fish commented on #316
Not enough info to troubleshoot. Please provide more details about your problem and reopen the issue.

[2020-07-04 18:12] #316 closed

[2020-07-04 18:13] blue-fish commented on #317
Not enough info to troubleshoot. Please provide more details about your problem and reopen the issue.

[2020-07-04 18:13] #317 closed

[2020-07-04 18:28] blue-fish commented on #340
If you want it to sound like an audiobook, use the pretrained models based on LibriSpeech.
If you want it to sound like a video game, you need to train on an appropriate dataset.

When I say train, I mean going through the process on [this page](https://github.com/CorentinJ/Real-Time-Voice-Cloning/wiki/Training). A very brief search has found these resources:
https://languageatplay.de/vgcost-corpu

[2020-07-04 18:51] blue-fish commented on #313
If you get that error message, you may need to upgrade pip with `python -m pip install –upgrade pip`.

I'm going to close this as questions about installing dependencies are out of scope for this repo.

[2020-07-04 18:51] #313 closed

[2020-07-04 19:00] blue-fish commented on #383
Starting with a default install that has all the pretrained models, I overwrite `encoder/saved_models/pretrained.pt` with your `my_run.pt`. Then I can run demo_cli.py with no problems. The speech is barely intelligible since the synthesizer wasn't trained on it, but at least there are no errors.

[2020-07-04 19:41] #332 closed

[2020-07-04 21:56] blue-fish commented on #395
Closing issue as the "no backend" error is an issue with the user's configuration and not the repo code. If this did not fix your problem, please reopen the issue.

[2020-07-04 21:56] #395 closed

[2020-07-04 22:02] blue-fish commented on #307
We recently added CPU support, please pull the latest changes and try again. Feel free to reopen this issue if that does not solve your problem with using the toolbox.

[2020-07-04 22:02] #307 closed

[2020-07-04 22:03] blue-fish commented on #325
Resolved by #399 .

[2020-07-04 22:03] #325 closed

[2020-07-04 22:07] blue-fish commented on #208
Closing this item because these issues are not strictly related to this repository.

[2020-07-04 22:07] #208 closed

[2020-07-04 22:09] #308 closed

[2020-07-04 22:11] blue-fish commented on #309
The toolbox supports CPU now, so please try pulling the latest and try again.

[2020-07-04 22:11] #309 closed

[2020-07-04 22:13] blue-fish commented on #303
@Tomotori is correct. I am closing this issue as the tensorflow version issue has been solved by updating requirements.txt in #366 and more recently in #399.

[2020-07-04 22:13] #303 closed

[2020-07-04 22:15] blue-fish commented on #299
I've got great news for you, we recently added support for CPU inference (and even training)! It even works on macOS. Please pull the latest from the repo and try again.

[2020-07-04 22:15] #299 closed

[2020-07-04 22:16] blue-fish commented on #305
If the above suggestions did not help you can try looking at librosa/librosa#219. Closing this issue as it does not strictly relate to the voice cloning toolbox.

[2020-07-04 22:17] blue-fish commented on #296
Tensorflow 1.15 is required now.

[2020-07-04 22:17] #296 closed

[2020-07-04 22:18] blue-fish commented on #295
Also available in the repo: https://github.com/CorentinJ/Real-Time-Voice-Cloning/blob/master/demo_toolbox_collab.ipynb

[2020-07-04 22:18] #295 closed

[2020-07-04 22:19] blue-fish commented on #297
We made many changes recently which make the GPU optional, as well as the webrtcvad package which is a nightmare to install on windows. Please pull the latest and try again.

[2020-07-04 22:19] #297 closed

[2020-07-04 22:20] blue-fish commented on #298
Please use tensorflow==1.15 , that is the only version that will work currently.

[2020-07-04 22:20] #298 closed

[2020-07-04 22:22] blue-fish commented on #292
Torch installation is done separately for compatibility reasons surrounding GPU support. Depending on the version of NVIDIA drivers a different pytorch version is needed. It is not something that can be automated into requirements.txt.

[2020-07-04 22:22] #292 closed

[2020-07-04 22:22] blue-fish commented on #293
Closing this issue as it has been resolved.

[2020-07-04 22:22] #293 closed

[2020-07-04 22:27] blue-fish commented on #306
Yes, I can confirm that the variation in the Tacotron output is a feature. In issue #384 , I am trying to find a way to control the output to facilitate benchmarking. Thanks for submitting the bug report.

[2020-07-04 22:27] #306 closed

[2020-07-04 22:32] blue-fish commented on #334
I cannot find any code to this effect in the repo. More info would be needed to troubleshoot. Could you please try pulling the latest code and see if this problem still exists? Tensorflow 1.15 is required. Please reopen the issue if you have more info.

[2020-07-04 22:32] #334 closed

[2020-07-04 22:35] blue-fish commented on #289
You might need to install a backend such as ffmpeg for use with audioread. That performs the conversion to other formats. This comes up rather frequently so we might need to catch the exception and print a more helpful error message.

[2020-07-04 22:35] #289 closed

[2020-07-04 22:37] blue-fish commented on #286
Please pull the latest code from the repo and see if you continue to have this issue. We recently made changes such as adding CPU support.

[2020-07-04 22:37] #286 closed

[2020-07-04 22:38] blue-fish commented on #285
I am closing this issue as it has been stale. If you would like help, please pull the latest code from the repo and try again. Reopen this issue, and provide the traceback and error message if the problem occurs.

[2020-07-04 22:38] #285 closed

[2020-07-04 22:40] blue-fish commented on #290
You can choose any of them but it is likely the embedding that is calculated will vary slightly. This means your results will depend on which utterance is selected as your reference.

If you have additional questions please reopen this issue.

[2020-07-04 22:40] #290 closed

[2020-07-04 22:42] blue-fish commented on #280
@berzi There is a helpful chart in the quick start at https://pytorch.org/ which directs you to download the appropriate version of torch to match your CUDA version.

The repo supports CPU now, so you don't have to go through the trouble to match. Please pull the latest and try again.

[2020-07-04 22:42] #280 closed

[2020-07-04 22:46] blue-fish commented on #333
I am not sure which set of instructions you are following, but a similar issue was also reported in #286 . Given the recent update to support CPU, I think you should have a much easier time getting the toolbox to work. Please pull the latest and try again.

[2020-07-04 22:46] #333 closed

[2020-07-04 22:47] blue-fish commented on #179
webrtvcad is no longer required as of #375 so everyone who got stuck on this step is invited to pull the latest from the repo and try again.

[2020-07-04 22:47] #179 closed

[2020-07-04 22:49] blue-fish commented on #278
Thanks for reporting this issue. I don't have an issue installing from requirements.txt so I will assume that a more recent PyQt5 has fixed the bug that you discovered. If there is a reproducible problem with the current PyQt5 please reopen this with a full description of the error.

[2020-07-04 22:49] #278 closed

[2020-07-04 22:51] blue-fish commented on #277
You are getting the error message because your user does not have admin rights on the system, try creating a virtual environment or using the --user option with pip. See this for more info: https://stackoverflow.com/a/31512491

[2020-07-04 22:51] #277 closed

[2020-07-04 22:53] blue-fish commented on #279
Hi @Ebrahemots , at the time you installed the toolbox a GPU was required. CPU is now supported so you can try pulling the latest and it should be compatible. Just make sure you also update your requirements as we are now up to tensorflow==1.15. Hope this resolves your issue, if it does not feel free to reopen.

[2020-07-04 22:53] #279 closed

[2020-07-04 22:55] blue-fish commented on #304
Can you please try pulling the latest code from the repo and see it resolves your issue?

If there is still a problem, please reopen the issue and provide the error message and full traceback from the terminal.

[2020-07-04 22:55] #304 closed

[2020-07-04 22:57] blue-fish commented on #355
@XxBlackBirdxX If you are still having an issue please provide a more detailed description of your problem and we will try to help.

[2020-07-04 22:57] #355 closed

[2020-07-04 22:59] blue-fish commented on #321
Ok, I am going to presume that you just want to try out the toolbox. If this is the case then pull the latest code with CPU support, update your requirements and you should be good to go without figuring out the CUDA driver/runtime issue.

If you need the GPU speedup then I am afraid that this kind of troubleshooting is outside the scope of the issues here. You would need to find a more appropriat

[2020-07-04 22:59] #321 closed

[2020-07-04 23:00] blue-fish commented on #274
You need to install tensorflow 1.15 . I would recommend pulling the latest code from the repo while you are at it. If this does not solve your problem please reopen the issue.

[2020-07-04 23:00] #274 closed

[2020-07-04 23:02] blue-fish commented on #275
@MahmoudAliEng That is in the encoder folder of the repository. Both scripts for training and inference are provided.

If you have a more specific question that is not answered by this please reopen the issue.

[2020-07-04 23:02] #275 closed

[2020-07-04 23:07] blue-fish commented on #270
You need to install libsndfile to make it work. http://www.mega-nerd.com/libsndfile/#Download

[2020-07-04 23:07] #270 closed

[2020-07-04 23:12] blue-fish commented on #269
This is not a support channel for resemble.ai . Though I will add that I made an attempt to find some customer support link and was not successful.

[2020-07-04 23:12] #269 closed

[2020-07-04 23:14] blue-fish commented on #272
Can you please pull the latest code from the repo, update your requirements and try again? The code has changed a bit recently making it hard to troubleshoot. If you continue to have a problem please reopen this issue and paste the error message with full traceback like you did above.

[2020-07-04 23:14] #272 closed

[2020-07-04 23:15] blue-fish commented on #271
@Ixiplious I'm glad that it's working for you now. Thanks for sharing your solution.

[2020-07-04 23:15] #271 closed

[2020-07-04 23:18] blue-fish commented on #266
@jgraf451 I'm sorry you were unable to get it set up. We have recently improved the code to add CPU support and make a difficult-to-install dependency optional. You are invited to pull the latest and try again. Having installed both GPU and CPU versions, the latter is significantly easier in my experience since you don't need to get the dependencies to line up with your GPU drivers.

If you contin

[2020-07-04 23:18] #266 closed

[2020-07-04 23:19] blue-fish commented on #265
I am going to presume this was resolved with identification of the tensorflow issues, but if not reopen the issue and provide the error message and full traceback as requested.

[2020-07-04 23:19] #265 closed

[2020-07-04 23:20] #263 closed

[2020-07-04 23:21] blue-fish commented on #261
Thank you @natravedrova for answering the question about the collab notebook. You can also use this CPU as we have recently made the GPU optional. Pull the latest code and try it out!

[2020-07-04 23:21] #261 closed

[2020-07-04 23:25] blue-fish commented on #260
Can you please pull the latest code from the repo, update to the current `requirements.txt` and try again? We have added CPU support and made changes which should make the setup easier. Reopen this issue if you continue to experience this issue with the latest code.

[2020-07-04 23:27] blue-fish commented on #259
@sam10001 We have recently added CPU support, please pull the latest code from the repo and try it out! No NVIDIA GPU required.

[2020-07-04 23:27] #259 closed

[2020-07-04 23:31] blue-fish commented on #258
I think this is specific to the vocoder algorithm being used. In the toolbox, you can select Griffin-Lim as the vocoder and it will be much faster with a serious degradation in quality. I don't know how to make the vocoder faster if you are already getting GPU acceleration. A different algorithm perhaps? This one is already reasonably fast and has good quality for a vocoder.

[2020-07-04 23:34] blue-fish commented on #273
@RaghunandanVenkatesh It is not really possible. There are three steps to voice cloning:
1. Calculate the embedding from the voice sample
2. Synthesize the mel spectrogram from the embedding + text
3. Convert the mel spectrogram to a wave file using the vocoder

Even if you reuse the embedding from step 1, it turns out that steps 2 and 3 are computationally expensive and must be performed each tim

[2020-07-04 23:34] #273 closed

[2020-07-05 00:58] blue-fish commented on #256
As mentioned in #325 tensorflow-gpu is not provided for macOS. Fortunately, there has been a recent change to provide CPU support so the voice cloning toolbox will run on mac. Please pull the latest and update your requirements. Setup should be considerably easier now.

[2020-07-05 00:58] #256 closed

[2020-07-05 01:00] blue-fish commented on #255
@ryan0930 If you still have the problem after trying the suggestion from @YukihimeX please reopen the issue. I am confident that it should be resolved.

[2020-07-05 01:00] #255 closed

[2020-07-05 01:06] blue-fish commented on #253
@Honghe You are correct. It is necessary to use multiple speakers to train the synthesizer and vocoder. The training process teaches the synthesizer and vocoder how the embeddings from the speaker encoder (left side of diagram) relate to the unique characteristics of each speaker used to train the synthesizer and vocoder.

If a single speaker is used to train the synthesizer and vocoder then it is

[2020-07-05 01:06] #253 closed

[2020-07-05 01:09] blue-fish opened #400 "List of pretrained models available for download"
This issue will be used to provide a listing of pretrained models that are freely available to use (resolves #268).

[2020-07-05 01:28] blue-fish commented on #400
Will turn this into a table at a later time. If I missed a model please let me know and I will add it!

### English
* @CorentinJ default pretrained models: https://github.com/CorentinJ/Real-Time-Voice-Cloning/wiki/Pretrained-models
    * @blue-fish vocoder model (compatible with default model, extends the above vocoder to 1159k steps): https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/12

[2020-07-05 07:01] blue-fish commented on #225
Here is a relatively fool-proof way to get started.
1. Install Ubuntu 18.04 and connect to the internet. Use a virtual machine if you can't devote a computer to it.
2. Open a terminal and install Python 3.7 and the virtualenv package.
[code]
3. Install git and clone this repo:
[code]
4. Set up a virtual environment and activate it:
[code]
5. Install requirements
[code]
6. Launch the toolbox
[code]

[2020-07-05 07:01] #225 closed

[2020-07-05 07:10] blue-fish commented on #251
Yes, there is another approach of using style transfer to impart characteristics of a reference audio to another audio. Here is an example of such a repo: https://github.com/mazzzystar/randomCNN-voice-transfer

It might involve fewer models but I am not convinced that it requires less training overall.

[2020-07-05 07:16] blue-fish commented on #94
This issue is resolved now that #390 is merged. Please pull the latest version of the code and try again.

[2020-07-05 07:16] #94 closed

[2020-07-05 07:22] blue-fish commented on #223
Please try again, pulling the latest updates from the repo and using our colab notebook: https://github.com/CorentinJ/Real-Time-Voice-Cloning/blob/master/demo_toolbox_collab.ipynb . We cannot provide support for code outside the repo. You can also try installing the toolbox on your own computer, the GPU is no longer required. I wrote some directions here: https://github.com/CorentinJ/Real-Time-Voi

[2020-07-05 07:22] #223 closed

[2020-07-05 07:36] blue-fish commented on #226
@daddybird292 Congratulations on installing webrtcvad on Windows, that is quite an accomplishment.
@GiuseppeGiacoppo You will be pleased to know that webrtcvad is no longer strictly required to run the toolbox, please pull the latest code and try again. The GPU is also not required anymore so installation should be much easier.

[2020-07-05 07:36] #226 closed

[2020-07-05 07:44] blue-fish commented on #249
I'm going to close this issue since there is a fork that provides Chinese support. From here: https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/30#issuecomment-629979383

@KuangDD wrote:

[2020-07-05 07:44] #249 closed

[2020-07-05 08:02] blue-fish commented on #245
Can you please pull the latest code in the repo and try again? We currently require tensorflow 1.15 and the GPU is optional. Now that we have CPU support it is a lot easier to get the toolbox working.

I'm going to close this issue as it is stale. We haven't solved this particular problem but at least you won't have to make the tensorflow and CUDA versions line up.

[2020-07-05 08:02] #245 closed

[2020-07-05 08:02] #243 closed

[2020-07-05 08:05] blue-fish commented on #242
Someone clicked "reference in new issue" on https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/30#issuecomment-508381648

There is nothing actionable here so this issue is being closed.

[2020-07-05 08:05] #242 closed

[2020-07-05 08:17] blue-fish commented on #185
@migueltopsp Did you find a way to resolve this issue? If not would you please pull the latest version of the code, reinstall the requirements and try again? I expect it should resolve your problem. It does look like a tensorflow version issue, the current toolbox uses tensorflow 1.15.

[2020-07-05 08:17] #185 closed

[2020-07-05 08:25] blue-fish commented on #268
@bmccallister Good idea on the collection of pretrained models, it inspired me to start #400. I have no control whether it will get pinned, but it is a start.

As for the issues you raised about the quality of output if there is too little/much reference text, I will prefer to track that in specific issues. #324 (long gaps in the middle of synthesized mel for a short text) and #347 (too fast when

[2020-07-05 08:25] #268 closed

[2020-07-05 08:28] blue-fish commented on #246
You will need to prepare an alignment file, see this for the format: https://github.com/CorentinJ/librispeech-alignments#format-txt-alignments

Personally, I think it would be easiest to make your dataset look like LibriSpeech, that way you should be able to reuse the existing preprocessing and training code as written. But I haven't tried training with a custom dataset.

[2020-07-05 08:31] blue-fish commented on #235
It's nice to see you all found a workaround. We formally resolved this problem in #371 . Closing this issue.

[2020-07-05 08:31] #235 closed

[2020-07-05 08:42] blue-fish commented on #232
I think the colab notebook comes close. With the recent additions for CPU support I think a web version is becoming more feasible. Is your vision to clone the repo, point a web browser at some local file and have it work without installing anything at all? Or have someone operate a website where this is provided as a service?

[2020-07-05 08:55] blue-fish commented on #317
Duplicate of #185, suggestion is to pull the latest version of the code, reinstall the requirements and try again. I expect it should resolve your problem. It does look like a tensorflow version issue, the current toolbox uses tensorflow 1.15.

[2020-07-05 08:58] blue-fish commented on #233
Duplicate of #178, root cause is using tensorflow 2.0 when the repo requires 1.x. The suggestion is to pull the latest version of the code, reinstall the requirements and try again. The current toolbox uses tensorflow 1.15.

[2020-07-05 08:58] #233 closed

[2020-07-05 08:59] blue-fish commented on #240
Duplicate of #178, root cause is using tensorflow 2.0 when the repo requires 1.x. The suggestion is to pull the latest version of the code, reinstall the requirements and try again. The current toolbox uses tensorflow 1.15.

[2020-07-05 08:59] #240 closed

[2020-07-05 09:01] blue-fish commented on #178
Root cause appears to be using tensorflow 2.0 when the repo requires 1.x. The suggestion is to pull the latest version of the code, reinstall the requirements and try again. The current toolbox uses tensorflow 1.15.

[2020-07-05 09:01] #178 closed

[2020-07-05 09:05] blue-fish commented on #234
If you compile it, you will need to add it to your path using `export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/path/to/the/compiled/portaudio/lib` before launching the toolbox.

[2020-07-05 09:05] #234 closed

[2020-07-05 09:13] blue-fish commented on #229
A GPU is no longer required to run the toolbox. Please try again after pulling the latest code and ensuring you have the packages in requirements.txt. The code has changed a bit recently and I don't expect we have much to gain by troubleshooting this issue, so I am closing it.

[2020-07-05 09:13] #229 closed

[2020-07-05 09:27] blue-fish commented on #221
Hi there @rkjoan . Thanks for your thoughts and feedback. I've responded to your questions below.

https://github.com/CorentinJ/Real-Time-Voice-Cloning/blob/49d4759503163a5133c2ac815e4a25eea9570fa2/toolbox/__init__.py#L171-L176

Basically splits up the text input to the synthesizer using `\n` as a delimiter and then concatenates the output into a single spectrogram for the vocoder.

You need bette

[2020-07-05 09:27] #221 closed

[2020-07-05 09:30] blue-fish commented on #228
@philip93dk Please reopen the issue after doing the following, I would like more information on this error so we can troubleshoot it:
1. Pull the latest code from the repo
2. Provide the full traceback that accompanies the error message and reopen the issue.
    * If the error doesn't occur with the latest code then that would be good to know too!

[2020-07-05 09:30] #228 closed

[2020-07-05 09:34] blue-fish commented on #324
Closing this as a duplicate of #227 . Thank you for reporting this issue @morangeman . I also find this to be a problem.

[2020-07-05 09:34] #324 closed

[2020-07-05 09:37] blue-fish commented on #213
@hnjiakai Please reopen this issue if @royshil 's suggestion doesn't fix the problem for you. Though I would make a slight modification by doing an export:
[code]

[2020-07-05 09:37] #213 closed

[2020-07-05 09:56] blue-fish commented on #199
Hi there @applejack1063 . You should also ensure that the pretrained model is located at encoder/saved_models with respect to the location that demo_cli.py, or demo_toolbox.py is located.

There is not enough info to troubleshoot further, please provide the error message and full traceback, and reopen the issue.

[2020-07-05 09:56] #199 closed

[2020-07-05 09:59] blue-fish commented on #187
It is due to using a version of tensorflow that is too old, or too new (>=2.0).

You need to be using tensorflow 1.15 with the very latest version of the repo. Please pull the latest and repeat the installation steps. I am confident that you won't be getting the same error.

[2020-07-05 09:59] #187 closed

[2020-07-05 10:01] blue-fish commented on #196
@ghost Try pulling the latest version of the code and see if the issue persists. I believe that it is likely related to #390 which we merged in the last day. So hopefully fixed now.

[2020-07-05 10:01] #196 closed

[2020-07-05 10:03] blue-fish commented on #196
Feel free to reopen the issue if you continue to not get any audio. The toolbox should be a little more helpful and provide a warning (in the terminal) if your output device does not support the sample rate (16 kHz).

[2020-07-05 10:08] blue-fish commented on #215
To everyone in the thread, sincere thanks for taking the time to share what has worked for you and to help others get the toolbox working.

However, the advice in this issue is now outdated due to code changes made in the last few weeks so I will be closing it. I am hopeful that the changes will make it easier to install since we've dropped GPU as a hard requirement, and made the webrtcvad package

[2020-07-05 10:08] #215 closed

[2020-07-05 10:19] blue-fish commented on #202
Thank you for pioneering CPU support on this project @ByPort .

@pusalieth has implemented an elegant solution in #366 which provides GPU support if it is available and falls back to CPU if necessary. Training works too! It is implemented in the main repo so I would like to suggest that everyone use that instead so we can continue developing it together.

[2020-07-05 10:19] #202 closed

[2020-07-05 10:35] blue-fish commented on #207
### Data
Before launching synthesizer_preprocess_embeds.py (on LibriSpeech train-clean-100 and 360):
[code]

Immediately after launching synthesizer_preprocess_embeds.py:
[code]

At 35% completion (about 40 min on my computer):
[code]

### Conclusion
It looks like the data is being cached as it is loaded/being processed, causing free memory to decrease. If there is a memory leak it doesn't seem ve

[2020-07-05 10:35] #207 closed

[2020-07-05 10:45] blue-fish commented on #197
Closing this as a duplicate of #162 , @Traincraft101 good observation on the pretrained vocoder as `gen_s_mel_raw` though I am doubtful that the entire performance difference could be attributed to the vocoder.

[2020-07-05 10:45] #197 closed

[2020-07-05 10:49] blue-fish commented on #162
@CorentinJ Can you explain if there are any differences between the models used for your Youtube demo, and the pretrained models released on the wiki page? Would like to put any speculation to rest.

In #197 , it is noticed that you used a different vocoder called "gen_s_mel_raw" for the video but I don't think that is it.

[2020-07-05 11:17] blue-fish commented on #193
@hawkmoon77 It sounds like what you want to do is a **style transfer** where you take a speaker embedding and apply it to an existing speech wav to change the voice. I touch on it briefly here: https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/251#issuecomment-653851389

Let's look at the current workflow to understand the different parts:
C-1. file1.wav --> speaker\_encoder (inference)

[2020-07-05 11:45] blue-fish commented on #188
Hello @smmiSlam , thank you for reporting this issue. Unfortunately we cannot support Kaggle Notebook as a platform (we already get more questions than we can handle for Windows, macOS, Linux, and Google colab).

I would like to mention that we have recently enabled CPU support for the toolbox so you should be able to run on most computers now. The GPU is no longer required. Please pull the latest

[2020-07-05 11:45] #188 closed

[2020-07-05 11:48] blue-fish commented on #188
I don't mean to discourage anyone from using Kaggle Notebook with this repo. It should work. We just cannot provide setup support and troubleshooting for issues that may be Kaggle-specific.

[2020-07-05 11:51] blue-fish commented on #177
@randyadams2000 The codebase has changed quite a bit in the last few weeks, it is not worthwhile for us to troubleshoot an issue reported 8 months ago. May I ask that you please pull the latest and see if your error is reproducible? Most likely it will just work. Good luck!

[2020-07-05 11:51] #177 closed

[2020-07-05 11:56] blue-fish commented on #174
You can run the main repo without CUDA support now. It is slower on CPU but still quite usable by my experience. Please pull the latest and try again.

[2020-07-05 11:56] #174 closed

[2020-07-05 11:59] blue-fish commented on #165
Possible solutions:
1. Decrease the batch size so it fits in GPU memory.
2. Look at the modifications for low mem and implement something similar for training. (Huge performance hit)
3. Pull the latest code and train on CPU. (Also huge performance hit)

[2020-07-05 12:06] blue-fish commented on #163
@rdrlima It looks like you have 2 environments and they're causing a conflict with each other:
`C:\Users\Rodrigo\AppData\Roaming\Python\Python37\`
`C:\Users\Rodrigo\AppData\Local\Programs\Python\Python37\`

Please check your `PATH` and remove one of the environments. Of course the environment you keep still needs to have all of the requirements.

Very similar issue described here: https://github.c

[2020-07-05 12:06] #163 closed

[2020-07-05 12:11] blue-fish commented on #161
I fixed the command on the wiki for running the encoder training script. Someone reported a similar issue in #262.

[2020-07-05 12:11] #161 closed

[2020-07-05 12:11] #106 closed

[2020-07-05 12:14] blue-fish commented on #160
Hi there @Stellarize . Would you kindly pull the latest version of the repo and try again? We have updated the codebase quite a bit in the last few weeks and are unable to troubleshoot errors on an old version of the toolbox.

[2020-07-05 12:14] #160 closed

[2020-07-05 12:15] blue-fish commented on #160
Feel free the reopen this issue if you experience problems with the latest code.

[2020-07-05 12:17] blue-fish commented on #155
@SaylorTwift I have good news for you! We made webrtcvad an optional package in #375, the voice cloning toolbox will now run without it. Please pull the latest version of the repository and try again.

[2020-07-05 12:17] #155 closed

[2020-07-05 12:23] blue-fish commented on #115
Hi @XxPro1445GamerxX . As @CorentinJ said, you need to write a synthesizer script that runs at the top level of the repo. Take the synthesizer code you need from demo_cli.py . If what you need is not found in that file, you can: 1) write some kind of interface to allow you to interact with it from the root level, or 2) rewrite the synthesizer to be standalone.

Unfortunately we do not have the tim

[2020-07-05 12:23] #115 closed

[2020-07-05 12:27] blue-fish commented on #114
Hi @oneduality ! Just letting you know that we updated the voice cloning toolbox recently with new features such as running without a GPU. I think it installs easier too. If you were not able to get it to work before, you are invited to pull the latest and try again.

I realize you likely invested a lot of time getting to your current point but the codebase has changed and we unfortunately do not

[2020-07-05 12:27] #114 closed

[2020-07-05 12:29] blue-fish commented on #54
@mmilk90 I wanted to let you know we have implemented CPU support in #366 so you do not need CUDA to run the voice cloning toolbox. So, exactly what you wanted! The setup process is a little bit easier now too. Please pull the latest and try again.

[2020-07-05 12:29] #54 closed

[2020-07-05 12:31] blue-fish commented on #72
I am going to close this issue out because it is stale. @Samuelsar777 if you are using a colab notebook due to not having a GPU, you will be glad to know that the voice cloning toolbox no longer requires a GPU. Please pull the latest code and give it a try!

[2020-07-05 12:31] #72 closed

[2020-07-05 12:33] blue-fish commented on #64
Hello @vankhoa21991 . We recently made a change to the codebase and we are unable to troubleshoot problems that occurred with the old code. May I ask that you please pull the latest code and try again? I expect it should just work, but feel free to open a new issue if it doesn't.

[2020-07-05 12:33] #64 closed

[2020-07-05 12:34] #76 closed

[2020-07-05 12:48] smmiSlam commented on #188
Thank you @blue-fish, for getting back to me.

[2020-07-05 14:00] blue-fish commented on #364
@CorentinJ can you please take a quick look at #227 (synthesizer produces large gaps when processing very short texts) and give us a clue where that issue might be coming from, or where to start if we want to fix it?

[2020-07-05 16:32] brcisna opened #401 "Toolbox not working with python3.8"
Hello All,

Debian 11 Bullseye.
Started with python3.7.x and python3.8.x and recently updated to python3.8.xx along with deprecation python3.7. Tried installing python3.7 from source but for some reason python3.7 is never seen as an alternative and did install with the altinstall switch or whatever that is. From a LOT of reading python3.8 will only accept tensorflow2.x This is the major downfall f

[2020-07-05 17:46] blue-fish commented on #401
@brcisna As you note, the code will not be compatible with python 3.8 until we can use tensorflow 2.x. There is an issue for this: #370 .

If you want to hack at it, you are welcome to pull my tensorflow 2.x branch and try to figure out the error messages. Start here for more info. https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/370#issuecomment-648798434

[2020-07-05 18:47] brcisna commented on #401
Hi blue-fish,

Thank You for the information. Am showing my stupidity. I see the #370 comment but don't know how to install the fork of your tensorflow_v2 to my existing virtualenv? I see several commits,but have never dealt with this type of files,,i guess.  Would like to hack around on this if i can figure out how to patch your files in?
Just an fyi. What happens is in a fresh python3.8 virtuale

[2020-07-05 19:07] blue-fish commented on #257
@ViktorAlm I tried this out but I am getting an error message when the synthesizer checkpoint is loaded.

	 [[{{node save/Assign_40}}]]

What I did is replace the synthesizer and vocoder with your models. I did not make any synthesizer code changes for Swedish yet. Can you let me know if you changed any files or hparams to make this work?

[code]

[2020-07-05 19:12] macriluke commented on #364
I was going off of this bit of the thesis:

particularly noticeable with the embedding of some speakers who talk slowly, showing
that the speaker encoder does capture some form of prosody. The lack of punctuation
in LibriSpeech is partially responsible for this, forcing the model to infer punctuation
from the text alone. This issue was highlighted by the authors as well, and can be
heard on some o

[2020-07-05 19:30] blue-fish commented on #401
No worries @brcisna ! Happy you are taking an interest to this. Here are two ways to do it clone the branch from my fork:

### 1. Quick (harder to share code changes)
[code]

### 2. Fork method (very easy to share code changes)
If you are willing to spend just a little more time on the setup, I suggest you do this so we can collaborate on this:
1. In your web browser, go to my fork: https://github

[2020-07-05 20:12] brcisna commented on #401
Hi blue-fish,

Done the #1 routine here just to see what happens. I believe i am correct ,,cloning your branch simply dumps your patched files into my existing Real-Time-Voice-Cloning dir? I am still ending up with identical ' tensorflow.contrib not found'.  I did also deactivate and activate the virtualenv one time also after cloning your branch to my dir. Thought i may end up with a  slightly di

[2020-07-05 20:30] blue-fish commented on #401
Cloning makes a copy of the files with version control enabled. I think the way you ran it placed another Real-Time-Voice-Cloning directory inside the existing Real-Time-Voice-Cloning dir. Then when you tried it out, it was still running the old code.

To help keep things straight, you should either remove the existing copy before cloning, or perform the clone in a different location entirely.

[2020-07-05 20:39] blue-fish commented on #53
Thank you for referencing the issue @macriluke. I am going to reopen this issue since I have some interest in fixing it. Another possibility is that it goes away in #370 when @dathudeptrai modifies the tensorflowTTS/tacotron2 code to work with this repo.

[2020-07-05 20:40] blue-fish commented on #227
Closing this as duplicate of #53. Let's work the issue there.

[2020-07-05 20:40] #227 closed

[2020-07-05 22:12] brcisna commented on #401
OK,

I apologize. I was thinking your dir branch patched my existing directory,
So,,now,,  i cloned your dir to fresh directory,
Now i am ending up with the following error when running both demo_cli.py & demo_toolbox.py

from tensor2tensor.utils.hparam import HParams
ModuleNotFoundError: No module named 'tensor2tensor'

Thanks

[2020-07-05 22:25] blue-fish commented on #401
Let's start on demo_cli.py, I find it easier to troubleshoot. After updating the requirements do you get the same error message as me?
[code]

I recall working around it by changing [this line](https://github.com/blue-fish/Real-Time-Voice-Cloning/blob/49d4759503163a5133c2ac815e4a25eea9570fa2/synthesizer/models/helpers.py#L24) to `return tf.TensorShape([]).with_rank(1)` but I'm not sure if it is pr

[2020-07-05 23:04] brcisna commented on #401
blue-fish,
This is error i get after getting all the requirements installed.. I think when i initally configured pytorch on their configuartion wizard i selected a CUDA version rather than NONE? have tried uninstalling and resintalling but still end up with Your PyTorch is unconfigured":

Arguments:
    enc_model_fpath:   encoder/saved_models/pretrained.pt
    syn_model_dir:     synthesizer/saved_

[2020-07-05 23:10] blue-fish commented on #401
Try enabling CPU support: `python demo_cli.py --cpu`

[2020-07-05 23:19] brcisna commented on #401
Thank You,,I wasnt sure how to enable --cpu even after googling,,,
 after getting saved models added here and there  i am ending up with the error you have mentioned above

Getting closer,,,This is running demo_cli.py

Thanks

[2020-07-05 23:32] brcisna commented on #401
OK I tried changing the line you suggested to this:   return tf.TensorShape([]).with_rank(1)
I get a  syntax error,,I am not a coder so this is probably not understood by me correctly,,,

Thanks.

[2020-07-05 23:35] blue-fish commented on #401
I should have mentioned at the start that the most direct way for you to get the toolbox working is to reinstall python3.7 (or run it inside a virtual machine). While I would greatly appreciate your help figuring out tensorflow_v2 compatibility, getting the toolbox to run on python3.8 is likely much harder than getting python3.7 back. I'll understand if you want to try restoring python3.7 instead.

[2020-07-05 23:42] brcisna commented on #401
I did spend quite a bit of time trying to get python3.7 installed back onto here. python3.7 is simply not in the debian bullseye repositories now,,,nada . tried setting up backports and all sorts of stuff,, i would guess there was a cutoff date and the maintainers are full on python3.8 for their new dsitro release. I thought i got python3.7 installed through source with the --altinstall switch but

[2020-07-06 01:03] blue-fish commented on #401
Can you run a virtual machine with Ubuntu 18.04 and install python3.7 on that?

[2020-07-06 01:10] brcisna commented on #401
That may be what ill have to do. i was really hoping to try and get this setup back to 3.7 Thanks for helping out too.

[2020-07-06 02:46] Coastchb opened #403 "Will a larger value for partials_n_frames be better?"
Hi, all.

In theory, using more frames as input to the model will include more information about the speaker.
So,  I set the partials_n_frames to 160(exp1) and 300(exp2) respectively, and trained on the same training set.
On training set, the loss and EER of exp2 is slightly lower than that of exp1.But on test set (we record with phones), EER is higher on exp2.

So, I am really confused:
1. partia

[2020-07-06 03:17] CorentinJ commented on #162
No differences, and the vocoder is the same but with a different name

[2020-07-06 03:30] CorentinJ commented on #364
This issue of large gaps is something that also occurred at Resemble.AI, and that I have worked on and fixed. It's a serious amount of work, I'll give you the big lines:
- LibriTTS needs to be curated of speakers with bad prosody.
- You can lower the upper bound I put on utterance duration, which I suspect has for effect of removing long utterances that are more likely to have more pauses (I forma

[2020-07-06 09:46] Liujingxiu23 commented on #126
@blue-fish  The wavs that you shared sounds good! Are the wavs just the result of vocoder, or an end2end results which using encoder to predict the embedding then using tacotron and vocoder model to synthesize?

[2020-07-06 09:53] blue-fish commented on #126
@Liujingxiu23 They are end-to-end results where I replicate the audio samples of the SV2TTS paper: https://google.github.io/tacotron/publications/speaker_adaptation/

I use the reference audio from VCTK p240 and p260 to create the embedding and generate synthesized samples #0 and #1 using tacotron and the vocoder model.

[2020-07-06 10:04] Liujingxiu23 commented on #364
@CorentinJ
It's a pity that you decide no to update this project any more.
I have followed your work since latter half of 2019.
For the encoder part, I removed the Relu Activation function of the last linear layer and train with 18k speakers(Chinese+English) for about  2~3 month. I using "Resemblyzer-master" tool to analysize the embedding generated by the model as well as my own tool. I guess the

[2020-07-06 14:02] rustygentile commented on #398
@blue-fish

Sure. It seems there's a demand for it. And I don't think it wouldn't be too much effort for me to get that up and running.

Unfortunately, ml.g4dn.xlarge's won't work for batch transform jobs. Only certain instance types are supported. ml.p2.xlarge is still the cheapest GPU option.

It would have to be ml.m5.large at $0.134/hour but yeah, still much cheaper than P2's.

I agree that ma

[2020-07-06 17:22] brcisna commented on #401
blue-fish,

finally with much wrangling used deb. snapshots repositories to get python3.7 reinstalled on this system and appears to be back to were it should be,,,,but,, when i use this command on my original (was working) virtualenv
'python3.7 -m virtualenv MyEnv ' says " virtualenv module not found'
BUT ,,, my newly created virtualenv ( a day ago) with my default python3.8 the demo_cli.py fails

[2020-07-06 17:25] blue-fish commented on #398
I'd suggest that you fork this repo, and for the Sagemaker project to consume the fork. You would manage the fork to maintain compatibility between the two codebases. It also gives you flexibility to implement changes to the RTVC code that make your life easier with Sagemaker.

[2020-07-06 17:41] blue-fish commented on #401
'python3.7 -m virtualenv MyEnv ' says " virtualenv module not found'

Try installing virtualenv for your python3.7 and then try the above command again.
[code]

[2020-07-06 22:57] brcisna opened #404 "cloning accuracy"
Hello All,
This is not an issue, but seeings how there are no forums for this software just wanted anyone's thoughts on cloning accuracy they are coming up with.

I personally use this in kind of an odd manner,in that I use it to clone voices to be used in historic videos as a narrator type scenario  Do old auto racing history so my routine is.

1. -  to find only 60 seconds of a past racer voice

[2020-07-06 22:59] CorentinJ commented on #364
@Liujingxiu23 I don't have any suggestion regarding your data. As for the audio quality, you can improve it by finetuning both tacotron and the vocoder on a single speaker. To improve the quality of voice cloning in general, there's a lot more working, starting with the list I gave above.

[2020-07-06 23:16] sberryman commented on #126
@Oktai15 I thought I posted the links to the encoder for the mixed version. The tacotron and vocoder weights are useless that I trained. However the encoder is quite good.
https://www.dropbox.com/s/xl2wr13nza10850/encoder.zip?dl=0

[2020-07-07 01:03] blue-fish commented on #401
@brcisna Based on #404 can I conclude that the toolbox is working for you now? If so can you please go ahead and close this issue?

(Resolution: Use python 3.7)

[2020-07-07 01:07] blue-fish commented on #126
@Oktai15 I think these are the settings you need to use the encoder: https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/126#issuecomment-573523609

I have not tried it though. Please let us know if it works for you.

[2020-07-07 01:17] brcisna commented on #401
will do thanks

On Mon, Jul 6, 2020 at 8:04 PM blue-fish <notifications@github.com> wrote:

[2020-07-07 01:18] #401 closed

[2020-07-07 02:35] Liujingxiu23 commented on #126
@blue-fish
You train encoder，synthsizer as well as the vocoder by yourself as follows?
Encoder: trained 1.56M steps (20 days with a single GPU) with a batch size of 64
Synthesizer: trained 256k steps (1 week with 4 GPUs) with a batch size of 144
Vocoder: trained 428k steps (4 days with a single GPU) with a batch size of 100

I trained the encoder and synthsizer using chinese corpus, but the result

[2020-07-07 02:46] blue-fish commented on #126
@Liujingxiu23 The info about the model training comes from this page: https://github.com/CorentinJ/Real-Time-Voice-Cloning/wiki/Pretrained-models

The encoder and synthesizer are the original models by @CorentinJ . All I did was take his original vocoder model and continued the training to see what would result. I didn't even change any parameters except to cut the batch size in half (100 to 50) s

[2020-07-07 03:22] Liujingxiu23 commented on #126
@blue-fish  I see, Thank you very much

[2020-07-07 14:17] maxi07 commented on #260
Hi @blue-fish ,  the issue still resists with the current commit.
Running the test with ```python demo_cli.py``` results into
[code]

And running the toolbox itself returns
[code]

I tried manually installing PyQt5, but the requirement is already satisfied. The requirements are installed via ```pip install -r requirements.txt```

[2020-07-07 16:21] blue-fish commented on #260
Thanks for giving it another try @maxi07 . Doing a quick search it seems you may need to upgrade your pip to get a later version of matplotlib that is compatible with your PyQt5. Try this and see if the toolbox will work:

[code]

[2020-07-07 18:20] maxi07 commented on #260
Hi @blue-fish , I followed your steps but without success, as pip was already using the latest version 20.1.1.. After that I deinstalled Python (which was previously installed through the Microsoft Store) and upgraded to the latest 3.7.8, in hope this would resolve the issue. This actually changed the error message.

Running the **testing script**
[code]

Running the actual **toolbox:**
[code]

##

[2020-07-07 19:07] blue-fish commented on #260
Nice! Thank you for documenting your troubleshooting steps @maxi07 . I see you opened #405 to fix the documentation issue. I'll comment on that aspect in the pull request.

[2020-07-07 19:07] #260 closed

[2020-07-07 20:29] blue-fish commented on #238
The original question has been addressed. I am going to close this issue since it is not an active area of development for this repo. If anyone manages to set this up please reopen this issue and share some results.

[2020-07-07 20:29] #238 closed

[2020-07-07 22:34] blue-fish commented on #382
@goodmangu Is "loss exploded" still a problem for your synthesizer training? If it is resolved, would you please go ahead and close this issue?

[2020-07-08 06:52] pritxm opened #407 "OSError: [WinError 126] The specified module could not be found (Real-Time-Voice-Cloning-master)"
PS C:\Users\Pritam> cd D:\Game\Real-Time-Voice-Cloning-master
PS D:\Game\Real-Time-Voice-Cloning-master> python demo_cli.py
2020-07-08 12:18:00.259919: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library cudart64_100.dll
Traceback (most recent call last):
  File "demo_cli.py", line 3, in <module>
    from synthesizer.inference import Synthesizer
  Fi

[2020-07-08 07:18] blue-fish commented on #407
@pritxm Looks very similar to this, could be a torch version issue. https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/260#issuecomment-655039901

Could you please 1) uninstall torch, 2) visit https://pytorch.org and install the appropriate version , and try again?

[2020-07-08 07:36] pritxm commented on #407
Hey @blue-fish thank you for replying. I've uninstalled pytorch. I'm running CUDA 10.0 (as told in the Voice Clone installation guide https://poorlydocumented.com/2019/11/installing-corentinjs-real-time-voice-cloning-project-on-windows-10-from-scratch/ ) But I can't find pytorch for CUDA 10.0. Which one should i get? The only CUDA options I see are 9.2
10.1
10.2
None

[2020-07-08 07:48] blue-fish commented on #407
It means that CUDA 10.0 is not available for the latest version of torch, but it is for earlier versions (which should work with the toolbox).

Try this:
[code]

There is a chance 1.4.0 is not available for Windows, in which case try torch==1.2.0+cu100 instead.

[2020-07-08 07:51] pritxm commented on #407
ERROR: Could not find a version that satisfies the requirement torch==1.4.0+cu100 (from versions: 0.1.2, 0.1.2.post1, 0.1.2.post2, 0.4.1, 1.0.0, 1.0.1, 1.1.0, 1.2.0, 1.2.0+cpu, 1.2.0+cu92, 1.3.0, 1.3.0+cpu, 1.3.0+cu92, 1.3.1, 1.3.1+cpu, 1.3.1+cu92, 1.4.0, 1.4.0+cpu, 1.4.0+cu92, 1.5.0, 1.5.0+cpu, 1.5.0+cu101, 1.5.0+cu92, 1.5.1, 1.5.1+cpu, 1.5.1+cu101, 1.5.1+cu92)
ERROR: No matching distribution fou

[2020-07-08 07:51] blue-fish commented on #407
Since the installation guide was written, we added CPU support so you're not required to match the torch and CUDA versions. It provides a nice speedup but if you experience a lot of frustration at the install I would just install any recent torch and try the toolbox. Then at a later date, fix your setup to get the GPU speedup if you really want to dive into training or generating a lot of cloned s

[2020-07-08 07:53] blue-fish commented on #407
Interesting, I found this file and thought 1.2.0 would have CUDA 10.0 support:
https://download.pytorch.org/whl/cu100/torch-1.2.0-cp37-cp37m-win_amd64.whl

[2020-07-08 07:58] pritxm commented on #407
Thank you for the link. I'll download and try running it. While it's downloading could you please tell me how can I install it using pip install? I'm new to it.

[2020-07-08 08:23] blue-fish commented on #407
This might be able to help you with the installation: https://stackoverflow.com/a/27909082

If it doesn't work I would recommend downloading the latest torch for CPU.

[2020-07-08 08:51] pritxm commented on #407
PS D:\Game\Real-Time-Voice-Cloning-master> python demo_toolbox.py
Traceback (most recent call last):
  File "demo_toolbox.py", line 2, in <module>
    from toolbox import Toolbox
  File "D:\Game\Real-Time-Voice-Cloning-master\toolbox\__init__.py", line 1, in <module>
    from toolbox.ui import UI
  File "D:\Game\Real-Time-Voice-Cloning-master\toolbox\ui.py", line 5, in <module>
    from encoder.in

[2020-07-08 08:52] blue-fish commented on #407
Is that error message with torch 1.2.0 for CUDA 10.0?

[2020-07-08 08:53] pritxm commented on #407
Yes.

[2020-07-08 09:01] blue-fish commented on #407
Try these instructions to run the toolbox on CPU. Nothing needs to be uninstalled before starting, we will use a virtual environment.

#### Make a virtual environment and activate it:
[code]

#### Install torch for CPU and the requirements
[code]

#### Run the toolbox
[code]

[2020-07-08 09:16] pritxm commented on #407
DUDE! You're awesome this worked! Do I always have to create a virtual environment to use this? Or is there any other way I can play it directly? And thanks alot btw 👍 :)

[2020-07-08 09:19] blue-fish commented on #407
Glad it is working for you now :D

The virtual environment is suggested, but you don't need it if you default python environment just like the virtualenv. If you want to try GPU support again, you can `deactivate` your virtual environment and try following the quoted step in my comment here: https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/407#issuecomment-655384859

Seems like renaming

[2020-07-08 09:25] pritxm commented on #407
Actually I renamed it already when I was looking at the installation guide. I'll try deleting it.

[2020-07-08 09:29] blue-fish commented on #407
I wonder if the problematic DLL would have been installed when you installed torch 1.2.0 just now.

[2020-07-08 09:59] blue-fish commented on #404
I believe the embedding only depends on the last file loaded. In other words, the toolbox has no memory and does not learn as it is used. So you can experiment to see which of the clips results in the best cloned voice. (Will be a lot easier with the toolbox once #402 is merged)

You are correct, if the speaker encoder is good then all the points from a single speaker should form a distinct cluste

[2020-07-08 10:00] pritxm commented on #407
Could you please tell me how to set my default environment as a virtual environment?
And after setting up the virtual environment can I just type python demo_toolbox.py and play it?

[2020-07-08 10:07] blue-fish commented on #407
I take it that GPU still doesn't work?

I don't know how to automatically launch a virtual environment (but I am sure guides exist). If you only ever use python to use this toolbox, you should try uninstalling the torch 1.2.0 from your default environment and install the working torch. The virtualenv is only needed if you run other programs with conflicting requirements which make a common environ

[2020-07-08 10:20] pritxm commented on #407
Actually I haven't tried it yet. Could you tell me how do I deactivate the virtual environment?

Also I can't load any audio files on it. I can record but cannot load any of the mp3 files.
I'm getting this  :
Exception :  expected str, bytes or os.PathLike object, not NoneType

Would you happen to  know why is this happening?

[2020-07-08 10:23] blue-fish commented on #407
Type `deactivate` in your shell.

Click the "Browse" button to load a file. The "Load" button only works if you specified <datasets_root> when launching the toolbox. We should disable that button when <datasets_root> is not specified.

[2020-07-08 10:25] pritxm commented on #407
Mate I'm a such a noob at this. I'm sorry. Could you please tell me how do I set the datasets root? Or what do I do to load the mp3 file?

[2020-07-08 10:31] blue-fish commented on #407
We need to make this toolbox GUI friendlier. Click the "Browse" button and select your mp3 file.

[2020-07-08 10:34] pritxm commented on #407
Nothing happens when I select an mp3 or when I load it
I get a blank exception when i click select a file and get this
Exception : expected str, bytes or os.PathLike object, not NoneType when I load one

[2020-07-08 10:38] blue-fish commented on #407
I am pretty sure the problem is that audioread has no backend. If you look at your terminal it should have the traceback. You can solve that by installing ffmpeg on windows. Can also see #386 or librosa/librosa#219.

If you don't want to install ffmpeg, you should be able to load .wav files without ffmpeg since no conversion is needed.

[2020-07-08 11:06] pritxm commented on #407
Dude it worked! Thank you so mcuh for being so patient and helping me! Cheers man! Awesome guy! :D

[2020-07-08 11:07] pritxm commented on #407
https://www.youtube.com/watch?v=LSh2tQ6OyZs
I was planning on doing some stuff like this

[2020-07-08 13:15] Arryboom opened #408 "Would you like to add support for tensorflow2"
Thanks for your great work at first!  but now tensorflow2 has a bunch upgrade,would you like to add support for it?

[2020-07-08 16:15] blue-fish commented on #408
We have an issue for this in #370. Would like to either upgrade the synthesizer to tensorflow2, or switch to a pytorch-based synthesizer. (The synthesizer is the only part that uses TF.) It would be appreciated if you would contribute your help to add tensorflow2 support.

I am going to close this issue, if you have anything further to say on the issue please do so in #370.

[2020-07-08 16:15] #408 closed

[2020-07-08 16:25] blue-fish commented on #407
You are also to be commended on your determination to get it working. Thanks for uncovering several pain points that need to be improved:

* For ease of installation, possibly suggest users to install in a virtual environment with torch+cpu, and have an separate guide for GPU support?
* Need to disable "Load" button in toolbox GUI when launched without <datasets_root> path
* Should ask users to in

[2020-07-08 16:25] #407 closed

[2020-07-08 17:39] blue-fish commented on #352
This will be resolved by #402 once merged.

[2020-07-08 17:40] blue-fish commented on #352
(#402 introduces a toolbox update that allows exporting generated wavs to a file.)

[2020-07-08 17:57] blue-fish commented on #360
Closing this issue due to inactivity, feel free to reopen. I would appreciate an answer on how to set the tacotron2 hardcoded seeds for better repeatability.

[2020-07-08 17:57] #360 closed

[2020-07-08 18:00] blue-fish commented on #343
The wiki is supposed to do this but it is still a TODO: https://github.com/CorentinJ/Real-Time-Voice-Cloning/wiki/How-it-all-works

You have a better chance at getting a response if you submit a specific question. The scope of what you are asking is too broad.

[2020-07-08 18:08] blue-fish commented on #252
As mentioned in #404, I believe the embedding only depends on the last file loaded. In other words, the toolbox has no memory and does not learn as it is used. If you have multiple recordings you should experiment to find the one that produces the best results.

For best results on a single voice, you could fine-tune the synthesizer and vocoder model by training on your target voice. However that

[2020-07-08 18:08] #252 closed

[2020-07-08 18:12] blue-fish commented on #294
Thanks for reporting this issue @unassumingbadger . The training scripts do not support the --low-mem flag. You can try reducing your batch size or training with CPU instead (pull the latest code).

[2020-07-08 18:12] #294 closed

[2020-07-08 18:16] #92 closed

[2020-07-08 18:34] plummet555 commented on #360
Hi @blue-fish - sorry I forgot to reply earlier.

I've just shared my repo with you. I didn't make it public as it is a bit messy but hopefully it will help you.

Look at the changes to tacotron2 in the 'silence detection and seeding' commit.

[2020-07-08 18:40] DRob81 commented on #370
Can you tell how you fixed 'Shape must be rank 1 but is rank 0' error?
I guess it is 'batch_size' in line 98 tacotron.py

[2020-07-08 20:13] blue-fish commented on #360
Thank you @plummet555 ! I found the changes you were describing. I'll add a note to #384 .

If you didn't notice my comment about updated vocoder model above, you can try plugging that in (no change to hparams needed) and see if the audio quality gets better. I've noticed fewer artifacts but no difference in voice. https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/126#issuecomment-650531

[2020-07-08 20:15] blue-fish commented on #384
After reviewing code from @plummet555 , I realize that we should also set `random.seed()` for the python built-in RNG and `np.random.seed()` for the numpy RNG. I will try this later and see if repeatability improves.

[2020-07-09 01:52] niu0717 commented on #251
so what is the benefit of this complex model, or why not use another approach to do it ??

[2020-07-09 02:07] blue-fish commented on #251
This model requires only a short speech sample to clone a voice, while the style transfer requires a large dataset for the target voice. In other words, the advantage of our 3-stage SV2TTS process is that it generalizes well to voices unseen during training. Also, it can be used to synthesize new speech from any text, while style transfer requires a speech sample as input.

[2020-07-09 02:52] blue-fish commented on #352
Closing this issue now that #402 is merged. Please pull the latest code for the toolbox enhancement that lets you replay and save wavs generated in the toolbox.

[2020-07-09 02:52] #352 closed

[2020-07-09 03:00] blue-fish opened #409 "Toolbox: Disable "Load" button when dataset is not loaded"
We should also disable the "Load" button in the GUI when a dataset is not loaded. New users click the Load button and are confused when it throws an exception. This has happened several times, most recently in #407 .

Current interface as of #402:
![test](https://user-images.githubusercontent.com/24435787/86547699-2dfa9400-bf10-11ea-8b96-be357b74491b.png)

[2020-07-09 03:08] blue-fish opened #410 "Audioread "no backend" issue"
This comes up very frequently for Windows users. `pip install -r requirements.txt` does not install a backend for audioread (a dependency of librosa). This causes an exception when loading any file that requires conversion, such as .mp3.

Can we make use of soundfile to load and convert audio files, instead of librosa.load? We already have soundfile in requirements.txt and it automatically install

[2020-07-09 06:19] niu0717 commented on #251
First, thx for your reply. Do you know GST(global style token)?
When i read [gst](https://arxiv.org/abs/1803.09017) paper, i found it contains not only the token but also the tone of the speaker. In other word, can we separate prosody from the ref audio as much as possible,   or can we synthesis speaker-A's tone with speaker-B's prosody? If this is possible, it will be more interesting!

[2020-07-09 09:11] amintavakol opened #411 "poor performance in compare to the main paper?"
Hi,
For those of you who are working with this repo to synthesize different voices;
Have you noticed a huge difference between the voices generated by this repo and the samples released by the main paper [here](https://google.github.io/tacotron/publications/speaker_adaptation/)?
If yes, let's discuss and find out the reason(s).

[2020-07-09 10:05] blue-fish commented on #411
I would recommend reading #41 and the first few posts of #126 for some context. The main points as I understand them:

* SV2TTS authors trained speaker encoder to 50M steps, this one is just over 1M.
* SV2TTS authors used embedding size of 768, this one uses 256.
* SV2TTS authors used a larger, proprietary dataset for encoder training which gets better results.

![image](https://user-images.github

[2020-07-09 10:10] blue-fish commented on #370
@DRob81 Although I solved it once before, it is eluding me this time. I thought I added with_rank() somewhere in synthesizer/models/helpers.py or custom_decoder.py, but it is not working. Thank you for your guess, I inspected `batch_size` in the debugger for tensorflow v1 and v2 and could not find any difference. I still think it is somewhere in the custom decoder, based on the error message.

[2020-07-09 10:34] pritxm commented on #407
@blue-fish do you have a twitter or anything where I can contact you?

[2020-07-09 11:14] DRob81 commented on #370
@blue-fish i also debugged and ended up with batch_size. Glad i found that
batch_size = -tf.TensorShape(0).with_rank_at_least(1)[0]
is the solution here. Still more problems to fix

[2020-07-09 11:45] sbkim052 opened #412 "No encoder models found in encoder\saved_models error"
Traceback (most recent call last):
  File "demo_toolbox.py", line 32, in <module>
    Toolbox(**vars(args))
  File "C:\Users\User\Desktop\Real-Time-Voice-Cloning-master\toolbox\__init__.py", line 49, in __init__
    self.reset_ui(enc_models_dir, syn_models_dir, voc_models_dir)
  File "C:\Users\User\Desktop\Real-Time-Voice-Cloning-master\toolbox\__init__.py", line 98, in reset_ui
    self.ui.popula

[2020-07-09 16:21] blue-fish commented on #412
Hi @sbkim052 , thanks for reporting this. You need to download a model from here: https://github.com/CorentinJ/Real-Time-Voice-Cloning/wiki/Pretrained-models

We should make the error message direct the user to the wiki page to download the models.

[2020-07-09 16:37] blue-fish commented on #370
Thanks for sharing that @DRob81 . If I make that change then the next error message is `TypeError: can only concatenate list (not "int") to list` at line 218 of synthesizer/models/tacotron.py . It's hard to tell if it's getting further than before, since that is the same line where it errored out before. It is very hard to debug errors with the custom decoder.

[2020-07-09 17:02] blue-fish commented on #412
If this solves your problem can you please go ahead and close this issue?

[2020-07-09 18:00] DRob81 commented on #370
@blue-fish i fixed that already. Can you tell me which line exactly? I think my line numbers differ from yours now.

[2020-07-09 18:34] blue-fish commented on #370
I'm unable to get past this part, before or after the last fix: https://github.com/blue-fish/Real-Time-Voice-Cloning/blob/621f62f150f5d0995ce61930479bec9e9043aebe/synthesizer/models/tacotron.py#L212-L218

It might be easier if you fork my repo using these instructions (https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/401#issuecomment-653929209), that would make it easier to share code u

[2020-07-09 18:41] blue-fish commented on #410
Can someone from the community look into this? First, to see if soundfile can be a complete replacement for `librosa.load()` without the need to install a backend like ffmpeg. If that is the case, then submit a pull request replacing `librosa.load()` with the corresponding soundfile call in demo_cli.py and encoder/audio.py . Maybe some other places.

[2020-07-09 18:43] blue-fish commented on #409
Also asking the community for help on this one. It should be a very easy fix and a good opportunity to learn how the toolbox code works.

[2020-07-09 18:46] blue-fish commented on #267
Now that the toolbox has CPU support, we should consider a release in compiled form. Would someone from the community like to work on this?

[2020-07-09 19:05] evilexecutable commented on #267
I'll happily give this a go.

[2020-07-09 20:23] blue-fish commented on #267
@evilexecutable Thank you for taking this on!

[2020-07-09 20:32] blue-fish commented on #407
@pritxm I don't have any social media. Why don't you just message me here if needed.

[2020-07-09 21:07] blue-fish opened #413 "Updates for synthesizer training using LibriTTS"
I am certain someone has done this before (such as @sberryman in #126). Would someone please share the code modifications needed to train the synthesizer on LibriTTS?

If we can improve the [training process](https://github.com/CorentinJ/Real-Time-Voice-Cloning/wiki/Training) to use LibriTTS in place of LibriSpeech, we can also generate a new set of pretrained models for better output quality.

He

[2020-07-09 21:07] blue-fish commented on #413
Naturally we will also want to train the vocoder on LibriTTS, but one step at a time.

[2020-07-09 21:09] blue-fish commented on #42
I'm going to deprecate this issue in favor of #413 . @sagar-spkt perhaps someone will give the answers you need over there.

[2020-07-09 21:09] #42 closed

[2020-07-10 05:06] DRob81 commented on #370
@blue-fish i forked your repo and i will commit my changes.

[2020-07-10 05:55] sbkim052 commented on #412
Thank you @blue-fish . I have solved it!

[2020-07-10 05:55] #412 closed

[2020-07-10 06:13] blue-fish commented on #410
Soundfile does not support mp3 (which is a popular input type judging from issues #116, #198, #214, #289, #385, #395, #407) so I think it is best to continue supporting librosa.load() which requires ffmpeg.

The new recommendation is to update README.md to list ffmpeg as a requirement.

[2020-07-10 06:16] blue-fish commented on #386
Hi @bllurr , I am closing this issue because it has not been updated in a while. I hope you were able to get the toolbox to work. It would be nice to know the current status. Feel free to reopen this issue if you have any questions or comments.

[2020-07-10 06:16] #386 closed

[2020-07-10 07:47] blue-fish commented on #410
This issue will be resolved by PR #414 .

[2020-07-10 07:55] #409 closed

[2020-07-10 08:21] CorentinJ commented on #411
Don't forget this too:

https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/364#issuecomment-653996443

[2020-07-10 08:25] #410 closed

[2020-07-10 08:26] CorentinJ commented on #411
At Resemble.AI we also have better results by using a new vocoder that my colleague @fatchord developed. I believe he's about to publish the paper he wrote about it.

[2020-07-10 11:58] blue-fish opened #418 "Toolbox GUI cleanup"
We have recently added a few buttons to the toolbox in #390 and #402 . Let's improve the GUI to optimize the placement and use of space. The end result should be familiar to viewers of the [Youtube video](https://www.youtube.com/watch?v=-O_hYhToKoA).

If you would like to help out, please assign this issue to yourself.

Current interface:
![test](https://user-images.githubusercontent.com/24435787/

[2020-07-10 15:22] pritxm commented on #407
Hey @blue-fish I was wondering how could I add other voices (accents) to the text-to-speech pretrained models?

[2020-07-10 15:56] sberryman commented on #413
@blue-fish It is good to see someone continue working on this project!

I've made an enourmous amount of changes to the project but a few of the most important changes I've included in a forked branch which you can find at https://github.com/sberryman/Real-Time-Voice-Cloning/tree/wip

For the encoder you'll see preprocessing methods for libritts, voxceleb, vctk, common voice, timit, nasjonal and t

[2020-07-10 15:56] blue-fish commented on #214
Several problems are mentioned in this issue:
* `RuntimeError: Error opening 'filename.mp3': File contains data in an unknown format.` (resolved by #414 to instruct users to install ffmpeg to avoid underlying `Audioread: NoBackendError`)
* Need to convert Path objects to str (resolved by #371)
* `Caught exception: PortAudioError('Error querying device -1',)` when audio playback is attempted in dem

[2020-07-10 15:56] #214 closed

[2020-07-10 16:07] blue-fish commented on #206
@genewitch I am going to close this as a duplicate of issues #53 (for short text inputs causing gaps) and #347 (long text inputs causing fast or garbled output). As you have discovered, the model is optimized for outputs about 5-6 seconds in length and degrades when the inputs are deviate too far from this.

I find it is easier to work around this in the toolbox where you can paste a long text and

[2020-07-10 16:07] #206 closed

[2020-07-10 17:41] blue-fish commented on #413
Thanks for sharing all that @sberryman . Is there any reason we cannot generate and publish a set of alignments for LibriTTS (just like the [LibriSpeech alignments](https://github.com/CorentinJ/librispeech-alignments#download-links))? This seems like a good idea, to keep the training setup as easy and repeatable as it currently is.

I'm also surprised that the [sample rate in synthesizer/hparams.p

[2020-07-10 17:58] sberryman commented on #413
I think I've deleted my copy of the alignments but I don't see why you wouldn't be able to include those to speed up training. I would suggest documenting and leaving scripts in the repo to generate alignments though. That will make it much easier for people to use new/other datasets for training. I wasted a lot of time trying to figure out how to install the dependencies, generate the TextGrid fi

[2020-07-10 20:19] blue-fish commented on #407
@pritxm You will need to use another dataset to continue training of the pretrained models, to fine-tune the vocoder output to have the desired accent. The dataset needs to have the accent which you wish to impart on the text-to-speech output.

We do not have any guides on how to do this and it is outside the scope for what we can provide support for. But if you succeed in doing this please follow

[2020-07-11 00:56] kyukenmyo opened #419 "Getting an exception when browsing for files"
For some reason, importing mp3 files is not working.  Anyone got an idea on why this might be the case.?

[2020-07-11 01:04] kyukenmyo commented on #419
Here is the error:
Traceback (most recent call last):
  File "D:\downloads\Real-Time-Voice-Cloning\toolbox\__init__.py", line 84, in <lambda>
    func = lambda: self.load_from_browser(self.ui.browse_file())
  File "D:\downloads\Real-Time-Voice-Cloning\toolbox\__init__.py", line 145, in load_from_browser
    wav = Synthesizer.load_preprocess_wav(fpath)
  File "D:\downloads\Real-Time-Voice-Cloning\s

[2020-07-11 01:21] blue-fish commented on #419
Please make sure you have followed the installation instructions. You need to install ffmpeg which is a backend for audioread (which is used to load mp3 files).

Install ffmpeg and let us know if that solved the problem for you. A link is in README.md

[2020-07-11 01:34] kyukenmyo commented on #419
This solved it for me! Thank you for an amazing response @blue-fish!!
Forgot to install ffmpeg. Once I did so, and linked my system path variable to the location of ffmpeg, it worked perfectly!

[2020-07-11 02:13] blue-fish commented on #419
We just updated the installation instructions, thanks for confirming that installing ffmpeg solved the issue. Have fun with the toolbox!

[2020-07-11 02:13] #419 closed

[2020-07-11 22:04] kyukenmyo opened #420 "New Audio Issue: Assertion Failed"
This was working yesterday fine, and no big changes were made.
However, today starting up the demo toolbox loaded:
Assertion failed!

Program: C:\Users\paul1\AppData\Local\Programs\Python\Python37\python.exe
File: src/hostapi/wdmks/pa_win_wdmks.c, Line 1061

Expression: FALSE

I have tried reinstalling visual studio as well, but to no avail. Any thoughts on this would be deeply appreciated.

[2020-07-11 23:27] blue-fish commented on #420
1. How far do you get starting up the toolbox?
2. Can you post the error message and full traceback?

[2020-07-12 00:40] blue-fish commented on #420
Doing a quick search on the error message, it looks like a problem with sounddevice (or portaudio)... if you start python and type `import sounddevice`, does that command give the same error message?

One possible resolution (found [here](https://stackoverflow.com/questions/62412684)):
1. Download a sounddevice .whl file here: https://www.lfd.uci.edu/~gohlke/pythonlibs/#sounddevice
    * Likely `s

[2020-07-12 02:20] kyukenmyo commented on #420
This worked~ not sure why sounddevice has moments of weird dastardliness at times. My friend was also experiencing this issue, and an update to his nvidia hd driver actually fixed it for him. My guess is it reset sounddevice somehow as well. All in all, thanks for the help and let's keep on going!!

[2020-07-12 02:20] #420 closed

[2020-07-12 05:21] OuterEnd07 opened #421 "Python Crashing after starting demo_toolbox.py or demo_cli.py"
_(Onlyone) C:\Users\Tomas\Documents\Ai For Work\Voice\Real Time Clone>python demo_cli.py
C:\Users\Tomas\anaconda3\envs\Onlyone\lib\site-packages\h5py\__init__.py:40: UserWarning: h5py is running against HDF5 1.10.5 when it was built against 1.10.4, this may cause problems
  '{0}.{1}.{2}'.format(*version.hdf5_built_version_tuple)
Warning! ***HDF5 library version mismatched error***
The HDF5 header

[2020-07-12 06:15] blue-fish commented on #421
Try this, or the solution below it: [https://stackoverflow.com/a/60015194](https://stackoverflow.com/a/60015194)

The issue is certainly not with the code in the toolbox, so our ability to support will be limited.

[2020-07-12 06:48] OuterEnd07 commented on #421
Thank you so much, it worked like a charm.

[2020-07-12 06:51] #421 closed

[2020-07-12 06:54] blue-fish commented on #421
You're welcome @OuterEnd07 , thank you for following up to let us know that it fixed the problem.

[2020-07-12 06:55] blue-fish commented on #421
Specifically what did you do to resolve the issue?

[2020-07-12 06:58] OuterEnd07 commented on #421
I just used the command that you give

[2020-07-12 16:09] #418 closed

[2020-07-12 16:34] blue-fish commented on #404
@brcisna Can you try this vocoder model and let me know whether you still get "wind in the microphone" effect?  https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/126#issuecomment-650531957

Because the synthesizer is not deterministic you will need a few attempts to conclude if there is a difference. If it still occurs with the new vocoder it is likely an artifact of the synthesizer.

If

[2020-07-12 17:28] blue-fish commented on #413
@sberryman Taking a closer look at [LibriTTSLabel](https://github.com/kan-bayashi/LibriTTSLabel), it has the raw textgrid output from MFA, so that will save a lot of time. I will use your script to generate the alignment files after downloading the datasets to get the transcript files.

If we keep the embedding size at 256, while increasing the hidden units from 256 to 768, would the resulting enc

[2020-07-12 17:41] blue-fish commented on #411
We can reduce artifacts in the vocoder with additional training (https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/126#issuecomment-650549809) . However, it does not make a perceptible difference in the cloned voice. This result also suggests that to the extent the vocoder has an impact on the output quality, we are reaching the limits of what is possible with WaveRNN.

[2020-07-12 22:29] blue-fish commented on #383
@goodmangu Please do the following:
1. Clone a fresh copy of the repo (pick up all the recent changes)
2. Get a clean copy of the [pretrained models](https://github.com/CorentinJ/Real-Time-Voice-Cloning/wiki/Pretrained-models) and place in the correct location
3. Run demo_cli.py and confirm no errors
4. Copy your encoder `my_run.pt` to `encoder/saved_models/pretrained.pt` (overwrite it)
5. Run dem

[2020-07-12 22:51] goodmangu commented on #383
This path has always worked for me My issue is once I have trained a model from scratch, the demo apps no longer work. And, I got this error. ValueError: Variable Tacotron_model/inference/inputs_embedding already exists, disallowed. Did you mean to set reuse=True or reuse=tf.AUTO_REUSE in VarScope?

[2020-07-12 22:54] blue-fish commented on #383
If #382 is still an active issue, I think what happened is that your synthesizer model is not valid and it is having a problem loading it. You can pass the "--syn_model_dir" argument to demo_cli.py to point to the good pretrained model from Corentin. Try that and see if you still get the message.

[2020-07-12 23:03] goodmangu commented on #383
Same issue, as by default, -s points to synthesizer/saved_models/logs-pretrained/ which is using the pre-trained model

[2020-07-12 23:09] blue-fish commented on #383
Can you move the incomplete synthesizer model out of the saved model folder entirely so it doesn't see it? Which files in your repo are modified?

[2020-07-12 23:21] goodmangu commented on #383
Hi @blue-fish: actually I have no models produced for the Synthesizer yet - I just finished the pre-processing step for the synthesizer. The only place I have changed was:
 /synthesizer/models/modules.py", line 114 self._cell = tf.contrib.rnn.LSTMBlockCell(num_units, name=name)

[2020-07-12 23:46] blue-fish commented on #383
If I make that change all tests still pass for me, using both the original encoder and yours. I have no way to reproduce the error that you are seeing. Are there any other changes that `git status` or `git diff` reports?

To ensure that further troubleshooting is productive, I suggest following the steps here: https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/383#issuecomment-657284710 ,

[2020-07-13 01:00] blue-fish commented on #291
Closing this as a duplicate of #53 (also see #411). Thank you @macriluke for the helpful information.

[2020-07-13 01:00] #291 closed

[2020-07-13 01:04] blue-fish commented on #258
#182 is a possible solution for this issue. With GPU acceleration it is already faster than real-time which seems like a reasonable level of performance already.

I am going to close this issue due to inactivity. It can be reopened if someone wants to work on it.

[2020-07-13 01:04] #258 closed

[2020-07-13 02:18] sberryman commented on #413
@blue-fish I found the TextGrid files if you want them.

You can't adjust anything upstream without retraining downstream. So the encoder is at the top of the stream (upstream) followed by the synthesizer and finally the vocoder. If you make a change at the encoder level you need to retrain the synthesizer and vocoder. If you change the synthesizer you need to retrain the vocoder.

I'm also not an

[2020-07-13 02:26] winterfate opened #423 "CUDA hasn't enough memory, am unable to discover the method for utilizing CPU alone"
Good day.
    I have installed everything perfectly(or so it would seem). I am able to synthesize and vocode once, and occasionally twice, before being notified that CUDA has run out of memory, while I have a total of 4 GB in my GPU.  I have discovered a statement by @blue-fish that we are now able to utilize the CPU, no longer being forced to use the GPU. Is this true? If so, how is this achieved

[2020-07-13 02:36] winterfate commented on #411
Absolutely astounding what you're all doing at Resemble, as well. Saw the LTT videos done in cooperation with you lot as well; was very happy to see some publicity in front of the average tech nerd.

[2020-07-13 02:46] blue-fish commented on #423
@winterfate I messed up in #406 and removed CPU mode not realizing you would have a use case here with a low-memory GPU. Thanks for reporting this.

### Option 1 - Add CPU mode back into demo_cli.py using my fork
You can clone the `423_add_cpu_mode` branch of my fork:
[code]
### Option 2: Add CPU mode to demo_cli.py yourself
Or modify your demo_cli.py for [line 35](https://github.com/blue-fish/Rea

[2020-07-13 02:59] winterfate commented on #423
@blue-fish forgive my ignorance, but I have used the code provided by the Option 1, and I seem to still be running on GPU. Woudl you be willing to provide any step-by-step instructions? I thought I had Github Desktop and the CMD figured out, but it would appear I am wrong.

[2020-07-13 03:17] winterfate commented on #423
@blue-fish I suppose I need to know how to commit that download to my local master, but I've absolutely no idea how to do so and Google is giving me bollocks.

[2020-07-13 03:33] winterfate commented on #423
@blue-fish absolutely f**k me. I thought I had it fixed after being able to synthesize and vocode 3 times in a row(a new record for me), but then it gave me the same error. Shaking my head. Damn. So close.

[2020-07-13 03:35] blue-fish commented on #413
@sberryman Thank you for the offer, but would your raw textgrid differ from the set that's publicly available via LibriTTSLabel? I don't want to waste your time, so let's assume it's not necessary unless their files give me trouble.

Your discussions in #126 were really helpful for understanding the training process. I get what you're saying about downstream models needing to be retrained when an

[2020-07-13 03:36] blue-fish commented on #423
@winterfate Can you install a CPU-only torch in a virtual environment? Basically what I said in option 3. I think that will be best. Let me know how it goes.

[2020-07-13 04:10] winterfate commented on #423
@blue-fish I thought I installed it with a virtual environment, however, I did not. I installed into my real repo, I suppose. Either way, it works. It works at .25(or 1/4) real-time speed, and only utilizes about half my cpu capacity for some reason, but it does work. So now, I suppose- what do I need to do to convince it to use, say, 90% of my CPU?

[2020-07-13 04:30] sberryman commented on #413
Not sure if it is any different, not a hassle at all to share it though.

My gut says that any retraining or even fine-tuning of the encoder requires re-training of all downstream modules. I haven't tried to train another encoder model and compare the embeddings though, so at this point it is just a guess.

I would also really like to see improvement in this field but also keep in mind that the pa

[2020-07-13 05:29] blue-fish commented on #423
@winterfate I have a bunch of stuff for you to try:

1. There is a "--low_mem" flag which which frees the GPU memory used by the synthesizer after each use. This may be a better solution to your problem.
2. If the goal is to use CPU, I found an easier way to cause torch.cuda.is_available() to evaluate to False, by setting the `CUDA_VISIBLE_DEVICES` environment variable to "" within Python. It even

[2020-07-13 06:19] CorentinJ commented on #411
Yeah and the LTT video is using models dating from january, our sound quality has way improved since

[2020-07-13 06:20] CorentinJ commented on #413
I found that using alignments to split long text samples is a waste of time. Simply discard samples that are too long.

[2020-07-13 22:47] winterfate commented on #423
@blue-fish I am very happy about the --low_mem. God bless you. Out of curiosity, what are the benefits of having high memory and not needing low_mem? Why is low_mem not default?

I tried number 2 for you. It gives:

[code]

[2020-07-13 22:49] winterfate commented on #423
@blue-fish Another question I meant to ask you- what do I need to do to teach the AI pronunciation? Perhaps it could view subtitles while processing the individual audio clips?

[2020-07-13 23:55] blue-fish commented on #423
Good question. The intended audience for this repo is researchers who will have access to higher-end GPUs with lots of memory. Though we might revisit that assumption. Thank you for the suggestion to make low_mem default, it will be considered. If more people report the same issue we might go ahead and implement it.

Much appreciated. Can you please pull the latest and try again? I missed an `impo

[2020-07-14 01:33] winterfate commented on #423
@blue-fish You have been helpful beyond comprehension, and have been instrumental in the enhancement of both my AI education and passion. From the entire surface of my heart, including the aorta, as opposed to just the bottom of my heart- thank you.

[2020-07-14 01:33] #423 closed

[2020-07-14 01:55] winterfate opened #424 "Big Developments"
Oh. My. Goodness.
I'm certain we are not small-minded folk, but I don't know whether anyone has thought about this. I've been fooling around with toolbox, synthesizing and vocoding based on Robert Downey Jr. utterances. It occurs to me that even with the high-quality audio samples I cherry picked, it comes out sounding rather rubbish. I said to myself "There's got to be an AI for IMPROVING audio i

[2020-07-14 05:10] DonaldTsang commented on #30
@Kreijstal that defeats the purpose, TTS already as a model built in, RTVC is for making the model.

[2020-07-15 10:55] ash1407 opened #425 "Tensorflow.contrib file missing what to do"

[2020-07-15 10:56] ash1407 commented on #425
i tried to in istall TF14.0 and 15.0 but i as not able to install.

[2020-07-15 15:49] blue-fish commented on #425
The current version of the code requires Tensorflow 1.15. If you are having trouble installing it, try setting up a Python virtual environment.

[2020-07-15 17:33] ash1407 commented on #425
i tried virtual env and in there i tried to install Tensorflow 1.15 but i failed

[2020-07-15 17:33] ash1407 commented on #425
i tried virtual env and in there i tried to install Tensorflow 1.15 but i failed

[2020-07-15 18:24] blue-fish commented on #425
Please make sure you are using a supported version of Python (README.md specifies this as 3.6 or 3.7) and try the Tensorflow 1.15 installation again. As noted in #401 , Python 3.8+ only supports Tensorflow 2.x which is not compatible with the toolbox.

[2020-07-15 21:09] ash1407 commented on #425
Thanks friend problem got solved .from your advice.

[2020-07-15 21:40] blue-fish commented on #425
@ash1407 Thanks for confirming that the root cause is a Python version issue.

[2020-07-15 21:40] #425 closed

[2020-07-15 21:42] ash1407 opened #426 "pytorch is failing to install"
![11](https://user-images.githubusercontent.com/68329823/87601170-2d34df80-c712-11ea-8fe1-aa7c58c2a1a3.JPG)

using 3.7 python,

[2020-07-15 22:06] blue-fish commented on #426
You need to update your pip. After that it will be able to find the latest torch.

[code]

[2020-07-16 08:42] GauriDhande commented on #62
I have a custom dataset which contain a bunch of wav files with there text transcriptions. I require alignment.txt for those respective wav files. Is there a way where we can create those .alignment.txt for a custom dataset?

[2020-07-16 10:33] lokesh16191 opened #427 "How to perform Speaker Verification using encoder"
I have trained 10 speakers with 15 utterences per speaker and got and trained model using encoder. Now I am trying to verify speaker by using that trained model but not able to figure out how to verfiy the speaker.

If any code/implementation, It will be great help

[2020-07-16 11:29] CorentinJ commented on #62
You don't need alignments, it's only something I did for LibriSpeech but it's overengineering for little results. Remove the code that splits sentences based on alignments and you'll be fine.

As a matter of fact we should be removing alignments repo-wide.

[2020-07-16 11:41] GauriDhande commented on #62
Would you please let me know which code to be removed? And should I add TextGrids in the code?

[2020-07-16 13:30] CorentinJ commented on #427
Check https://github.com/resemble-ai/Resemblyzer/blob/master/demo01_similarity.py

[2020-07-16 13:33] CorentinJ commented on #62
This function and its usages:
https://github.com/CorentinJ/Real-Time-Voice-Cloning/blob/5e400d474043044ba0e3e907a74b4baccb16ee7c/synthesizer/preprocess.py#L83-L152

[2020-07-16 14:28] ash1407 commented on #426
Thanks friend it also helped me .1)upgraded it  2)than i used this  pip3 install https://download.pytorch.org/whl/cpu/torch-1.0.1-cp37-cp37m-win_amd64.whl  . than it worked

[2020-07-16 15:03] blue-fish commented on #426
@ash1407 Good to know that this is resolved. Thanks for posting the solution that worked for you.

[2020-07-16 15:03] #426 closed

[2020-07-16 16:00] HumanG33k commented on #370
hi,
keep in mind,
- I too tired to read all things now but tensorflow 1.15 just not work with python 3.8 (at this day) throught pip.
- I just don’t have cuda and never will i prefer the [opencl](https://en.wikipedia.org/wiki/OpenCL)

I think it can be good for the record to keep one brach tensorflow 1.X and go for a new master based on tensorflow 2.
I just check and there is an "automatic code upd

[2020-07-16 16:24] blue-fish commented on #370
@HumanG33k I have already performed automatic conversion using that process on the `370_tf2_compat` branch of my fork. There are still a bunch of errors that need to be worked through. I have published fixes for some of these, and getting stuck on some others where @DRob81 is also helping. The current errors are runtime so we may be getting close.

If you can run `demo_cli.py` without errors, plea

[2020-07-17 03:59] lokesh16191 commented on #427
Thanks for response, It's little bit complex for single user prediction using above link. I have tried in this way:
Please guide :) Thanks in advance

[code]

till now trying to understand your code.

[2020-07-17 12:01] mueller91 commented on #364
Dear @CorentinJ , thank you for your amazing work and you continued support here. I have a few questions:
a) Would you still apply denoising to LibriTTS? I find that the samples are high quality, and the data itself has already been cleaned.
b) Can i train on both LibriTTS and VCTK? If so, what should i look out for?
c) When training speaker encoder (SE), i find that there is a difference in the d

[2020-07-17 12:16] CorentinJ commented on #364
a) Yes I would. For having manually curated LibriTTS myself, I can definitely say that a lot of speakers are very noisy. Do a little data exploration to convince yourself of that: pick 100 random samples and listen to all of them. There are still many issues with this improved version of LibriSpeech: inconsistent volume, background noise, poor mic quality, mic bumps, ... Regarding denoising alone,

[2020-07-17 12:25] jmsgrgry commented on #364
Miraculously, I got it to work even though I've never really done anything like this before. However, I can only record audio for the input. If I try to upload an audio file I get "Warning: you did not pass a root directory for datasets as argument." Can anyone help me out?

[2020-07-17 16:32] gfhsrtras opened #428 "Windows 10 - DLL Error"
I've been stuck on this step for 2 days and I know people have posted this problem before, but the answers have not been too helpful to me considering I am retarded, technologically speaking. Anyway, when I type:

I am returned with:

Please, If you have anything to help, can you literally spell it out for me because I cannot stress enough that I have no idea what I'm doing. Thanks.

[2020-07-17 17:08] mueller91 commented on #364
Thank you so much for your answer. Two follow-up questions:
a) Why would dataset balance be an issue? Assume i have 10 times more samples from LibriTTS than from VCTK - if the input format, sampling rate and preprocessing is the same, why should this imbalance matter? (provided the clips are of somewhat same quality w.r.t to noise). Same for for SP.
b) You mentioned manually curating LibriTTS. Cou

[2020-07-17 17:30] blue-fish commented on #428
There is not enough info to determine a root cause of the DLL error. For some possibilities see https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156 . This is a tensorflow installation issue and you should request assistance at [https://github.com/tensorflow/tensorflow/issues](https://github.com/tensorflow/tensorflow/issues) . Mention that you require version 1.15 specifica

[2020-07-17 17:57] gfhsrtras commented on #428
Ok thanks. I guess I will just wait for the .exe

[2020-07-17 18:49] CorentinJ commented on #364
a) It's a matter of what you want. If you want to reach VCTK quality, then LibriTTS samples vastly outnumbering VCTK samples is going to cancel that out due to sampling being uniform. In a classical multispeaker model with a speaker table (i.e. an embedding layer), it would still make sense to have a 10 to 1 ratio if your goal was only to encode a voice for these speakers in the speaker table;

b)

[2020-07-17 19:40] blue-fish commented on #267
Any updates @evilexecutable ? There is someone in #428 who would like an exe.

[2020-07-17 19:43] blue-fish commented on #370
@DRob81 I would like to continue the tensorflow2 effort, can you please commit your changes or submit a pull request to my fork?

[2020-07-18 08:14] ash1407 opened #429 "How i can train my audio files .to use indian assent ."
How i can train my audio files AS data for ecoder,vocoder .to use indian assent . assent of indian is different so i do not feel having my own voice  when i listen it .

[2020-07-18 17:29] blue-fish commented on #429
This is not an easy undertaking so before you start, make sure you satisfy the prerequisites. You must be able to answer "yes" to all questions below:
* Does your computer have a NVIDIA GPU?
* Do you have coding experience?
* Are you willing to devote at least 20 hours to the task?

I have not gone through the process myself, but I'll try to outline it since we don't have a good explanation. What

[2020-07-18 17:33] blue-fish commented on #318
See here for information on how to fine-tune the model to a particular accent: https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/429#issuecomment-660514897

If you do not wish to perform training, periodically check #400 and see if anyone has uploaded a model with the desired accent.

[2020-07-18 17:33] #318 closed

[2020-07-18 17:36] #428 closed

[2020-07-18 17:42] blue-fish commented on #404
Closed due to inactivity. @brcisna please reopen the issue if you have more to discuss.

[2020-07-18 17:42] #404 closed

[2020-07-18 17:45] blue-fish commented on #340
Closing this issue due to inactivity. @shadept-GitHub please reopen this issue if you have more to discuss.

[2020-07-18 17:45] #340 closed

[2020-07-18 17:48] blue-fish commented on #343
Closing this issue due to inactivity. @SijinJohn please reopen if you have a specific question about the code.

[2020-07-18 17:48] #343 closed

[2020-07-18 17:50] #246 closed

[2020-07-18 17:55] blue-fish commented on #232
Closing this issue due to inactivity. Please reopen if such a service has been created, or if someone is interested in taking this on.

I really doubt this is feasible as a purely client-side web application since it mostly uses pytorch. Not sure if [torch-js](https://github.com/torch-js/torch-js) can help there.

[2020-07-18 17:55] #232 closed

[2020-07-18 17:57] blue-fish commented on #241
Closing this issue due to inactivity. I apologize you did not get an answer to your question. Please reopen the issue if it is still an active concern.

[2020-07-18 17:57] #241 closed

[2020-07-18 17:58] blue-fish commented on #276
Closing this issue due to inactivity. I apologize you did not get an answer to your question. Please reopen the issue if it is still an active concern.

[2020-07-18 17:58] #276 closed

[2020-07-18 18:04] blue-fish commented on #216
This is beyond the scope for what we can provide support. You will need to figure out how to integrate the toolbox with your application. The demo_cli.py script is designed to help with that. Good luck with your project!

[2020-07-18 18:04] #216 closed

[2020-07-18 18:09] blue-fish commented on #257
@ViktorAlm Can you share your code with me? If needed, in a private repository so I can figure out exactly what changes are needed for your Swedish pretrained models to work?

[2020-07-18 18:10] #224 closed

[2020-07-18 18:10] blue-fish commented on #248
Closing this issue due to inactivity. I apologize you did not get an answer to your question @zoldaten . Please reopen the issue if it is still an active concern.

[2020-07-18 18:10] #248 closed

[2020-07-18 18:26] blue-fish commented on #195
@strich I don't think it would be an easy task to set it up, but one possibility is to use something like the [Montreal Forced Aligner](https://montreal-forced-aligner.readthedocs.io/en/latest/introduction.html) using your source utterance and transcript as inputs. This would provide alignments for the speech allowing the problematic speech segment to be removed.

Then feed the source utterance in

[2020-07-18 18:26] #195 closed

[2020-07-18 18:28] #193 closed

[2020-07-18 18:29] blue-fish commented on #204
Closing this issue due to inactivity. Please file a new issue if this is still an active concern.

[2020-07-18 18:29] #204 closed

[2020-07-18 18:34] blue-fish commented on #165
Closing this issue due to inactivity. Please file a new issue if this is still an active concern.

[2020-07-18 18:34] #165 closed

[2020-07-18 18:36] blue-fish commented on #127
@shawwn Did you get ARPAbet support working with the toolbox?

[2020-07-18 18:37] blue-fish commented on #168
Closing this issue due to inactivity. Please open a new issue if this is still an active concern.

[2020-07-18 18:37] #168 closed

[2020-07-18 18:39] #166 closed

[2020-07-18 18:41] blue-fish commented on #173
Closing this issue due to inactivity. @dipjyoti92 if you would like an answer to your additional questions, try asking in #364 .

[2020-07-18 18:41] #173 closed

[2020-07-18 18:44] blue-fish commented on #75
Closing this due to inactivity. As a reference point I achieved 0.45 steps/sec on a GTX1650 after correcting for batch size and sampling rate differences.

[2020-07-18 18:44] #75 closed

[2020-07-18 18:46] blue-fish commented on #25
Closing this issue due to inactivity. @phiresky please open a new issue if this is still an active concern.

[2020-07-18 18:46] #25 closed

[2020-07-18 18:52] blue-fish commented on #182
Closing this issue due to inactivity. Anyone willing to take this on is welcome to reopen the issue.

[2020-07-18 18:52] #182 closed

[2020-07-18 19:01] blue-fish commented on #211
Closing this issue due to inactivity. Please ask your question in #364 if this is still an active concern.

[2020-07-18 19:01] #211 closed

[2020-07-18 19:12] blue-fish commented on #230
The tacotron2 used here is based on Rayhane-mamah's implementation which does not support GST.

[2020-07-18 19:22] blue-fish commented on #251
@niu0717 Let's continue the discussion in #230 . You might find the links interesting if you haven't read them already.

[2020-07-18 19:22] #251 closed

[2020-07-18 19:29] blue-fish commented on #247
Closing this issue due to inactivity. Please reopen the issue if you have more to discuss.

[2020-07-18 19:29] #247 closed

[2020-07-18 20:59] ash1407 commented on #429
I will give a try. Thanks for the guidance friend.

[2020-07-19 13:30] Mazlak opened #430 "demo_clie.py error"
ım open directory and use python demo_cli.py and it result like this

![Untitled](https://user-images.githubusercontent.com/68504604/87875913-1ece1880-c9dd-11ea-8fcc-99b35dfa8be6.png)
how can ı fix it

[2020-07-19 13:51] blue-fish opened #431 "Common toolbox issues and how to fix them"
This issue will be used to document common toolbox issues and how to fix them. Please **do not reply here** to keep the signal/noise high. Instead, report problems and suggest additions/improvements by opening a new issue.

[2020-07-19 14:00] blue-fish commented on #431
#### NoBackendError

Typically fixed by installing [ffmpeg](https://ffmpeg.org/download.html#get-packages). Windows users follow these instructions: https://video.stackexchange.com/a/20496

[2020-07-19 14:03] blue-fish commented on #430
Here is the solution for NoBackendError: https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/431#issuecomment-660647785

If you followed the instructions in README.md, ffmpeg should already be installed and all you need to do is edit the environment variables to add them to path.

[2020-07-19 14:03] #430 closed

[2020-07-19 16:50] blue-fish commented on #384
With the changes on the [384_repeatable_voice_cloning](https://github.com/blue-fish/Real-Time-Voice-Cloning/tree/384_repeatable_voice_cloning) branch of my fork, I am able to get fully repeatable voice cloning output using demo_toolbox.py . This is tested on a system without a GPU.

### Test case
* Reference audio: https://google.github.io/tacotron/publications/speaker_adaptation/demos/groundtruth

[2020-07-19 17:54] blue-fish commented on #53
I found a very low-tech fix for this, which is to always run "trim_long_silences" on the vocoder output. The function uses webrtcvad and is found in encoder/audio.py. Will submit a PR when I get a chance.

[2020-07-20 16:42] blue-fish commented on #251
Check out [AutoVC](https://github.com/auspicious3000/autovc) ([audio samples](https://auspicious3000.github.io/autovc-demo/)) as another example of voice style transfer.

[2020-07-20 16:43] blue-fish commented on #193
Check out [AutoVC](https://github.com/auspicious3000/autovc) ([audio samples](https://auspicious3000.github.io/autovc-demo/)) as an example of voice style transfer. This seems to be what you are looking for.

[2020-07-20 19:02] blue-fish opened #433 "Questions about the toolbox from @mbdash"
In #432 , @mbdash wrote:

_(and I hope these are not stupid questions)_

1 to 1.

for the purpose of achieving better cloning accuracy for a single voice.

_Originally posted by @mbdash in https://github.com/CorentinJ/Real-Time-Voice-Cloning/pull/432#issuecomment-661274063_

[2020-07-20 19:13] annaskarzynska opened #434 "I would like to sing in polish language instead of text"
Is this tool able to "render" singing voice based on my voice? (not by typing text)
I would like to sound like some other person. so, basically train model with some other speech -> I am recording my song with my voice -> generate singing voice like some other else. It doesn't need to be "perfect", I want it just to sound like someone else.

Is that possible? How?

[2020-07-20 19:28] blue-fish commented on #433
@mbdash

### Q1
**Do you see a way in the future to reduce / tweak the minimum output audio length below the minimum 5 sec?**

It can be worked around by padding the input with extra words, and then post-processing to remove the padding. For example @plummet555 found this workaround (https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/360#issue-637180849):

### Q2

Yes, the toolbox should

[2020-07-20 19:42] blue-fish commented on #434
@annaskarzynska You seem to be describing voice style transfer, here are some examples of repositories that do this. It will take a lot of work to train a model to do what you are proposing.

* https://github.com/auspicious3000/autovc ([audio samples](https://auspicious3000.github.io/autovc-demo/))
* https://github.com/mazzzystar/randomCNN-voice-transfer ([sample1](https://soundcloud.com/mazzzysta

[2020-07-20 19:46] blue-fish commented on #433
Also see here for more info on what it would take to properly improve the models to fix your Q1: **https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/364#issuecomment-653996443** . The problem has been reported previously in #53 and #227 .

[2020-07-20 19:49] mbdash commented on #433
Re: Q1:
I had a similar idea, but not as good as @plummet555,
(pad the input and cut it out afterwards)
But cutting after the 1st silence looks like a better direction to take.

Re: Q2:
Yes, an open-source version of the resemble.ai voice cloner was what I had in mind.

I will look into both your suggestions.
 thanks again.

[2020-07-20 19:53] annaskarzynska commented on #434
Thanks you so much! That's exactly what I am looking for :)

[2020-07-21 16:05] plummet555 commented on #433
I'd be happy to share the change I made to add and then cut out a leading word. Just need to find some time to tidy up the repo.

[2020-07-21 16:31] mbdash commented on #433
@plummet555, That would be great!

This is my 1st time interacting with a GitHub community and you guys are awesome. I originally really just wanted to say thanks to @blue-fish and wasn't expecting this kind of exchange.

I will try to learn how to use GitHub properly to follow your example and also share back any changes I will make to the libraries I currently am experimenting with.

[2020-07-21 18:43] Mazlak opened #435 "umap no attribute"
ı add couple of flac file but its stuck it 1 more points and its every time sad to me umap has no attribute umap and second questionhow can ı use synthesize , vocoder and encoder trainer
![Capture](https://user-images.githubusercontent.com/68504604/88093538-d0ff0f00-cb9a-11ea-949f-af40d2318bc1.PNG)

[2020-07-21 19:16] blue-fish commented on #435
Hi @Mazlak . Can you copy and paste the full traceback from your terminal?

[2020-07-21 19:35] blue-fish commented on #435
Here are the instructions for training: https://github.com/CorentinJ/Real-Time-Voice-Cloning/wiki/Training

[2020-07-21 22:04] ramanova commented on #308
Feel free to contact :)

[2020-07-21 22:09] mbdash commented on #308
If you are running an Ubuntu PC, I can paste my conda env file and install instructions in here.
I am not on my PC but will be in 2h.
Let me know if you are interested.

[2020-07-22 01:55] blue-fish commented on #435
This might help resolve the umap issue: https://github.com/lmcinnes/umap/issues/24#issuecomment-346438635

[2020-07-22 06:52] amintavakol opened #436 "Error in preprocessing data for synthesizer"
While running `synthesizer_preprocess_audio.py`, I'm getting the following error:

[code]

I'm preprocessing LibriSpeech500 but apparently the synthesizer preprocessor is failing to create the proper metadata file.

Has anyone seen the same issue?

[2020-07-22 07:35] #436 closed

[2020-07-22 10:08] blue-fish opened #437 "Single speaker fine-tuning process and results"
### Summary
A relatively easy way to improve the quality of the toolbox output is through fine-tuning of the multispeaker pretrained models on a dataset of a single target speaker. Although it is no longer voice cloning, it is a shortcut for obtaining a single-speaker TTS model with less training data needed relative to training from scratch. This idea is not original, but a sample single-speaker

[2020-07-22 10:58] blue-fish commented on #384
Closing now that #432 is merged.

[2020-07-22 10:58] #384 closed

[2020-07-22 16:37] romainbiros opened #438 "unable to download pretrained model"
Hello,

Thanks for sharing the code of this amazing tool, I've set it all up on my PC but I can't download the pretrained model.
The mega link is not valid anymore and the google drive link says the file is temporarily unavailable.
Any chance the models could be somehow made available?

Thanks in advance,
Romain

[2020-07-22 16:48] romainbiros commented on #438
it seems available now

[2020-07-22 16:48] #438 closed

[2020-07-22 21:41] #411 closed

[2020-07-23 00:48] amintavakol opened #439 "decoding error in preprocessing synthesizer"
I get the following error while running `synthesizer_preprocess_audio.py`.

[code]

Can anyone help? It can save a lot of time for me.
Thanks.

[2020-07-23 04:40] blue-fish commented on #439
Can you try it with the `392_single_threaded_preprocess` branch of my fork and post the traceback? It will help to know which alignment file it is breaking on.

[2020-07-23 06:53] blue-fish commented on #439
https://github.com/CorentinJ/Real-Time-Voice-Cloning/blob/eaf5ec4467795344e7d9601515b017fd8c46e44b/synthesizer/preprocess.py#L60

Try making this modification:
[code]

[2020-07-23 11:03] GauriDhande opened #440 "InvalidArgumentError: 2 root error(s) found. (0) Invalid argument: ConcatOp : Dimensions of inputs should match: shape[0] = [1,4,512] vs. shape[1] = [2,4,256]"
I get the following error while running demo_toolbox_collab.ipynb. This error occurs when tacotron model is loaded

[code]

Can anyone please help?
Thanks in advance.

[2020-07-23 13:34] #413 closed

[2020-07-23 14:48] blue-fish commented on #437
Pretrained synthesizer + 200 steps of training on VCTK p240 samples (0.34 hours of speech). Still using the original vocoder model. This is just a few minutes of CPU time for fine-tuning. It is remarkable that the synthesizer is already imparting the accent on the result. This is good news for anyone who is fine-tuning an accent: it should not take too long, even for multispeaker.

I did notice a

[2020-07-23 15:27] blue-fish commented on #392
If you get this error message:
`objc[67570]: +[__NSPlaceholderDate initialize] may have been in progress in another thread when fork() was called. We cannot safely call it or ignore it in the fork() child process. Crashing instead. Set a breakpoint on objc_initializeAfterForkError to debug.`

See this solution if the preprocessing breaks on mac. It fixed the issue for me and I no longer require th

[2020-07-23 17:11] blue-fish commented on #429
@ash1407 Are you still trying? When you get to step 4 (synthesizer preprocessing on new dataset), pull the latest master. The #441 changes should make this step a lot easier.

If using AccentDB, will you finetune a single accent or just throw them all into the mix? It would be interesting to find out if this is enough voices to generalize well for cloning. Also see my latest reply in #437 , it is

[2020-07-23 17:41] blue-fish opened #442 "Request: Add support for torchaudio.datasets"
### https://pytorch.org/audio/datasets.html

This could be a very convenient way to download data for use with the toolbox, either for inference or for training! It currently supports:
* [CommonVoice](https://voice.mozilla.org/en)
* [LibriSpeech](https://www.openslr.org/12/)
* [LJSpeech](https://keithito.com/LJ-Speech-Dataset/)
* [Speech Commands](https://ai.googleblog.com/2017/08/launching-speech

[2020-07-23 18:19] ash1407 commented on #429
I was not having Nvidia GPU , any idea which Gpu i should purchase for Machine learning (i have budget of 4oooRS INR)

[2020-07-23 20:44] blue-fish commented on #429
@ash1407 My fine-tuning in #437 is done using CPU only, and the models are converging quickly enough. Do not a GPU unless you find it to be much too slow.

[2020-07-23 21:02] javaintheuk commented on #370
Hello, @blue-fish  please how can I add another voice on your colab (I'd like to upload or link it to a 5 - 10 seconds wav sample)? thanks!

https://colab.research.google.com/drive/1akxtrLZHKuMiQup00tzO2olCaN-y3KiD

[2020-07-24 01:21] FulvioZozix opened #443 "How can i pass a root directory for datasets ?"
datasets_root:    None
    enc_models_dir:   encoder\saved_models
    syn_models_dir:   synthesizer\saved_models
    voc_models_dir:   vocoder\saved_models
    low_mem:          False

Warning: you did not pass a root directory for datasets as argument.

When i open the toolbox,i can't add any projections,pls help

[2020-07-24 01:25] blue-fish commented on #437
### Single-speaker finetuning using VCTK dataset: [samples_vctkp240.zip](https://github.com/CorentinJ/Real-Time-Voice-Cloning/files/4969802/samples_vctkp240.zip)

Here are some samples from the latest experiment. VCTK p240 is used to add 4.4k steps to the synthesizer, and 1.0k to the vocoder. Synthesized audios have filename `speaker_utterance_SYN_VOC.wav` and use all combinations of pretrained ("

[2020-07-24 01:40] mbdash commented on #443
use arguments
-d
or
--datasets_root

ie:
_windows:_
python demo_toolboc.py --datasets_root d:/RTVC/datasets/train-clean-360

_ubuntu:_
python demo_toolboc.py --datasets_root /home/myuser/RTVC/datasets/train-clean-360

[2020-07-24 01:52] mbdash commented on #437
Wow that is amazing... I only asked your opinion and you actually did it!

The difference is incredible.

Now I just need to dumb down all you wrote to be able to reproduce it.

Also try your_input_text.replace('hi', 'eye') it is a little cheat that I find gives better results currently.
At least in the multi speaker model.

[2020-07-24 01:56] blue-fish commented on #437
@mbdash In the first post I included a dropbox link that has fairly detailed instructions for the single-speaker LibriSpeech example. You can try that and ask if you have any trouble reproducing the results. If you want VCTKp240 I can make a zip file for you tomorrow.

This was much easier and faster than expected. I am sharing the results to generate interest, so we can collaborate on how much tr

[2020-07-24 02:09] blue-fish opened #444 "Help wanted: Updates to remove tensorflow warnings"
Would someone please submit a pull request that replaces outdated Tensorflow function calls in the toolbox to avoid the warnings that show up when starting the toolbox, or running demo_cli.py?

For example, this is what we want to fix:
[code]

[2020-07-24 02:10] mbdash commented on #437
Thank you,
I will look at it tomorrow morning I am only staying up for a few more minutes, I am a bit too tired to think straight right now..

Tonight I am trying to keep it simple and see if I can Jam a regular "hand modeled" 3D head mesh into VOCA (Voice Operated Character Animation)

[2020-07-24 02:27] mbdash commented on #444
I can't promise anything since I have never used GitHub for anything else then cloning.
But I could try over the weekend if no one else did it by then.

[2020-07-24 05:32] blue-fish opened #445 "Trim silences on output wavs by default, in toolbox and demo_cli.py"
The toolbox has a known issue where output occasionally has really long, unnatural silences due to the synthesizer. We are aware of the issue (#53) and we have added a feature in the toolbox to automatically trim these out when they occur (#432).

Having played around with this new feature in the toolbox, I now think it is good enough to default "Enhance vocoder output" to True if the user's syste

[2020-07-24 06:19] blue-fish opened #446 "Catch NoBackendError exception and tell user to install ffmpeg"
Despite instructions to install ffmpeg in README.md (#414), people still skip it and get audioread's NoBackendError whenever trying to load mp3s. The exception is confusing to the end user and we get a lot of questions about it.

* The error message looks like this: https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/386#issue-646643932
* What people need to do to resolve it is this: https

[2020-07-24 06:22] blue-fish commented on #439
@amintavakol Did you resolve the issue?

[2020-07-24 06:27] blue-fish commented on #443
You need to load an audio file and/or synthesize at least 4 times until the projections will be shown.

Click the "browse" button to load a file. An embedding will be calculated. Once you have this you can synthesize your own speech.

[2020-07-24 06:29] blue-fish commented on #443
@FulvioZozix If this did not solve your issue, please reopen it. Thanks @mbdash for answering the part about datasets.

[2020-07-24 06:29] #443 closed

[2020-07-24 06:30] #435 closed

[2020-07-24 06:31] #383 closed

[2020-07-24 06:31] #382 closed

[2020-07-24 06:40] blue-fish opened #447 "Pytorch synthesizer"
Splitting this off from #370, which will remain for tensorflow2 conversion. I would prefer this route if we can get it to work. Asking for help from the community on this one.

One example of a pytorch-based tacotron is: https://github.com/NVIDIA/DeepLearningExamples/tree/master/PyTorch/SpeechSynthesis/Tacotron2

Another option is to manually convert the code and pretrained models which would be e

[2020-07-24 14:50] blue-fish commented on #431
### All questions about Colab Notebook

The Colab Notebook is a community-developed resource to enable users to run the toolbox without having a GPU or going through a complicated setup. Recently, these issues have been resolved with CPU support being added (#366) and the installation process streamlined (#375). **We recommend that you use a normal Python environment.**

Users who still prefer usi

[2020-07-24 16:00] #434 closed

[2020-07-24 18:50] plummet555 commented on #433
Looks like the project has moved forward (which is great!) but I think it will be a while before I get a chance to rebase and try it out. So, if it helps. for now I'll just copy here the code I wrote to add the word 'skip' to the start of each line, then to find the silence following it so it can be trimmed back out from the output. It's a copy of demo_cli.py (which I called sv2tts_cli.py).

You c

[2020-07-24 20:41] amintavakol commented on #439
Yes, that fixes the issue.
Also changing the try, except block to this:

[code]

keeps the preprocessing running for the non-problematic files.

[2020-07-24 22:34] FulvioZozix opened #448 "Projections points stuck in 4"
help,my projections points never changes,i add vocoder and Synthesizer,but still in 4...i need download something ?

[2020-07-24 22:51] blue-fish commented on #448
What happens when you load a file? Does the embedding and mel spectrogram display?

Can you post a screenshot?

[2020-07-24 23:44] blue-fish commented on #314
This occurs when the synthesizer is unable to generalize to your voice. It is either caused by the encoder or the synthesizer not having been trained on a similar voice, but I don't know which. More likely the synthesizer I think.

In any event I will close this as a duplicate of #41. Thank you for posting the sample and reporting the issue.

[2020-07-24 23:44] #314 closed

[2020-07-25 00:17] blue-fish opened #449 "Training a new model based on LibriTTS"
_Originally posted by @mbdash in https://github.com/CorentinJ/Real-Time-Voice-Cloning/pull/441#issuecomment-663076421_

[2020-07-25 00:45] blue-fish commented on #449
@mbdash I just noticed this. This would be a really nice contribution if you are up for it!

On the [pretrained models page](https://github.com/CorentinJ/Real-Time-Voice-Cloning/wiki/Pretrained-models) it says the synthesizer was trained in a week on 4 GPUs (1080ti). If you are not willing to tie up your GPU for a full month, it will still be helpful if you can get to a partially-trained model tha

[2020-07-25 01:04] blue-fish commented on #449
From what I understand, LibriTTS offers several advantages over LibriSpeech:
1. The transcripts contain punctuation so the model will respond to it instead of ignoring it as it does currently.
2. Audio has been split into smaller segments making alignments unnecessary
3. Higher sampling rate of 24 kHz instead of 16 kHz

We should consider updating the hparams so we can ultimately generate 24 kHz a

[2020-07-25 01:13] FulvioZozix commented on #448
![print toolbox 2](https://user-images.githubusercontent.com/68534383/88445709-d8245800-cdfa-11ea-9049-0b3a4abb133d.png)

and the projections are stuck in 4...

[2020-07-25 01:39] blue-fish commented on #448
This is the code that prints "4 more points":
https://github.com/CorentinJ/Real-Time-Voice-Cloning/blob/054f16ecc186d8d4fa280a890a67418e6b9667a8/toolbox/ui.py#L99-L111

Try commenting these lines out and see if it makes a difference:
https://github.com/CorentinJ/Real-Time-Voice-Cloning/blob/054f16ecc186d8d4fa280a890a67418e6b9667a8/toolbox/__init__.py#L118-L119

I do not know what else could be cle

[2020-07-25 02:16] mbdash commented on #449
Ok,
I will sync LibriTTS overnight, try to set this up over the weekend and get the GPU working on it.

[2020-07-25 03:25] blue-fish commented on #230
Mozilla's TTS has a PR implementing this feature: https://github.com/mozilla/TTS/pull/451

[2020-07-25 19:42] ACG-MM opened #450 "help!! pls i,ve installed pytorch, ffmpeg in windows environment. and required pip packages. but still"
E:\AI Tool\Real-Time-Voice-Cloning-master>python demo_cli.py
2020-07-26 20:20:27.179858: W tensorflow/stream_executor/platform/default/dso_loader.cc:55] Could not load dynamic library 'cudart64_101.dll'; dlerror: cudart64_101.dll not found
2020-07-26 20:20:27.181928: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
Tr

[2020-07-26 02:19] mbdash commented on #449
Update 2020-07-25 22h20 EST:

step 5 Generate mel spectrograms for training
Currently at 25% all  cpus available to VM are at full load.

For posterity, not typo in command in step 5, missing "s" in the flag "--datasets_name"
python synthesizer_preprocess_audio.py ~/rtvc_LibriTTS/datasets --no_alignments --datasets_name LibriTTS

[2020-07-26 05:56] blue-fish commented on #449
Thanks for the update and correction.

Let's run training with the default hparams. We're already switching from LibriSpeech to LibriTTS and it's best to only change one parameter at a time.

[2020-07-26 06:10] blue-fish commented on #447
Some other pytorch-based tacotrons are [Mozilla's TTS](https://github.com/mozilla/TTS) and [this repo from Tomiinek](https://github.com/Tomiinek/Multilingual_Text_to_Speech) which does voice cloning with multilingual capability.

Does anyone know if the method proposed here is viable? Supposedly you can convert a tensorflow model to pytorch, and refactor the code in the process. https://medium.com

[2020-07-26 06:11] blue-fish commented on #433
Thank you for sharing your code with us @plummet555 .

Please ask any follow-up questions as needed @mbdash and close the issue when you are satisfied.

[2020-07-26 07:30] blue-fish commented on #437
Some general observations to share:
1. Finetuning improves both quality and similarity with the target voice, and transfers accent.
2. Decent single-speaker models require as little as 5 min of audio and 400 steps.

After finetuning several thousand steps on the entire VCTK dataset (trying to help out on #388), the accent still does not transfer for zero-shot cloning. I suspect the synthesizer nee

[2020-07-26 07:39] blue-fish commented on #429
So I've got some good news and bad news.

* Bad news first: In https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/437#issuecomment-663951476 I mention trying to add an accent using the VCTK dataset and it does not generalize to all speakers. You need to train a synthesizer from scratch to impart an accent with zero-shot cloning.

* Good news: If you only require a single speaker you can f

[2020-07-26 14:11] ACG-MM commented on #450
the cudart64_101.dll in . and i tried install tensorflow-gpu still error above. and when i try pip install -r requirements.txt  it always shows Could not find a version that satisfies the requirement tensorflow==1.15

[2020-07-26 14:14] blue-fish commented on #450
What version of python do you have? The toolbox requires python 3.6 or 3.7.

Tensorflow==1.15 is not available for python 3.8 or newer.

[2020-07-26 15:01] ACG-MM commented on #450
i do use python 3.8 and i just get it now. may this project support TF 2x?  am i have to use python 3.7

[2020-07-26 15:13] mbdash commented on #449
Hi have an error because synthesizer_preprocess_embeds.py wants a pretrained model?

I fail to understand why we need to provide pre-trained data when trying to train from scratch, but i will stick in the latest pretrained model until told otherwise.

[code]

[2020-07-26 15:23] blue-fish commented on #449
@mbdash Look at the middle part of the image here and hopefully it will make more sense why the pretrained **encoder** model is needed to generate embeddings for synthesizer training: https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/30#issuecomment-508381648 Please speak up if it still doesn't make sense.

To resolve the specific problem, download the [pretrained models](https://github.

[2020-07-26 15:41] blue-fish commented on #450
Please use python 3.7. We have an issue open to make the toolbox compatible with TF 2.x: #370 , but it is not ready yet.

[2020-07-26 15:42] mbdash commented on #449
Ok, great,
if you tell me it is as designed I will continue. it is currently at 25% Embedding.

I opened the image but I need slightly more coffee to really look at it ;-)

thx for the quick response.

Also, as a side note,
the test you did using a dataset of 1 voice had great results! After training on LibriTTS the result should be even more amazing.
I was just lying in bed yesterday night and th

[2020-07-26 15:59] blue-fish commented on #433
@mbdash wrote this in #449 but I am moving it here just to keep the issues organized:

the test you did using a dataset of 1 voice had great results! After training on LibriTTS the result should be even more amazing.
I was just lying in bed yesterday night and thinking about the current RTVC potential and was wondering what you would think about this:
AzamRabiee/Emotional-TTS
see this: https://you

[2020-07-26 16:23] mbdash commented on #433
haha Great answer.
But again.
I did not ask for you to implement it, but simply your opinion.
And I understand what you meant. It is not that simple and would requires lots of work.

thx again.

[2020-07-26 16:24] mbdash commented on #449
ok I started synthesizer_train.py and it is @ step 250 now @ 2020 07 26 12H24 EST

![image](https://user-images.githubusercontent.com/32403586/88484191-e6798d80-cf3a-11ea-8ec7-487e79b010fe.png)

[2020-07-26 17:00] blue-fish commented on #449
Wow that is fast. At that rate it will take just over 4 days to reach the 278k steps in the current model. And it will train even faster as the model gets better. Please share some griffin-lim wavs when they become intelligible.

[2020-07-26 17:13] blue-fish commented on #433
I don't understand Korean so the demo didn't make much of an impact. And I am also new to TTS and ML in general so I can't claim to understand the paper either. The general concept is promising though. I wonder if others have attempted something similar.

From [the paper](https://arxiv.org/abs/1906.05507):

Training a multispeaker TTS requires a lot of input data, which could also be used to train

[2020-07-26 17:16] mbdash commented on #449
step 2850 @ 13H15 EST
so approx 2500 steps in ~1h

[2020-07-26 17:21] blue-fish commented on #449
This seems to be a bottleneck, is the data on an external drive? I'm averaging about 14 sec for batch generation on a slow CPU but the data lives on a SSD.

[2020-07-26 17:35] blue-fish commented on #448
Any updates @FulvioZozix ? If I had to guess you might need to upgrade your matplotlib version.

[2020-07-26 18:27] mbdash commented on #449
latest @ 14h25:
![image](https://user-images.githubusercontent.com/32403586/88486458-9ce56e80-cf4b-11ea-92bb-f5ba3f51992b.png)

My setup is not optimal. It is currently residing on the HDD side on my array, I just added a new SSD but is is not been used atm.
When I stop the training, I will  move the data on a share living on the SSD or even a passthrough NVME.

[2020-07-26 18:36] blue-fish commented on #449
If that's a typical batch generation time now, 2.3 sec for a 64 batches is just 0.036 sec per step or 1 hour over 100,000 steps. Not worth it to transfer the data over to the SSD in my opinion.

[2020-07-26 18:54] blue-fish commented on #257
@ViktorAlm This is the difference between your model structure and the default. The input embedding batch size changed from 66 to 72. Do you know where that could be coming from? I diffed the synthesizer code of taco2swe and this repo, and can't find where that is coming from. Using the taco2swe version of the hparams doesn't seem to fix it either.

[code]

[2020-07-26 19:15] mbdash commented on #449
step 10k reached @ 15h30
so we can estimate ~10k steps / 3h

Where are located the wavs you want me to share?
When I try to `ls datasets/SV2TTS/synthesizer/audio` my terminal hang.

![image](https://user-images.githubusercontent.com/32403586/88487405-cbb31300-cf52-11ea-91af-5bbd24611a3a.png)

[2020-07-26 19:18] blue-fish commented on #449
Check out the training logs area: `synthesizer/saved_models/logs-new_model_name/wavs`

The files in the `plots` folder are also interesting and show how well the new synthesizer model is working.

[2020-07-26 19:23] davysouthernboy opened #451 "Failed To Load Synthesizer and Tacotron2 dependencies with Python3.7 and Tensorflow 1.15"
I have Python3.7 and Tensorflow 1.15, but I get the following when running python3.7 demo_cli.py:

Traceback (most recent call last):
  File "demo_cli.py", line 4, in <module>
    from synthesizer.inference import Synthesizer
  File "/home/davy/Real-Time-Voice-Cloning/synthesizer/inference.py", line 1, in <module>
    from synthesizer.tacotron2 import Tacotron2
  File "/home/davy/Real-Time-Voice-C

[2020-07-26 19:28] mbdash commented on #449
rtvc_libritts_s_mdl @ 10k steps

Cheers!
[rtvc_libritts_s_mdl_10k.zip](https://github.com/CorentinJ/Real-Time-Voice-Cloning/files/4978255/rtvc_libritts_s_mdl_10k.zip)

[2020-07-26 19:31] blue-fish commented on #451
What is your operating system? You might need to upgrade. This person reported an issue with Ubuntu 14, resolved by upgrading to Ubuntu 16: https://github.com/tensorforce/tensorforce/issues/303#issuecomment-359344743

[2020-07-26 19:40] blue-fish commented on #42
@sagar-spkt You might find this interesting. @mbdash is training the synthesizer on LibriTTS with default hparams in #449. We did not create alignments, instead discarding long utterances per @CorentinJ 's suggestion https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/413#issuecomment-657382603 .

[2020-07-26 19:45] davysouthernboy commented on #451
Ubuntu 14.04.6 LTS.  I'll look into upgrading.  Thank you for your help.

[2020-07-26 19:47] mbdash commented on #451
if this can help:
I have Ubuntu 20.

Here is my conda env file:
[rtvc_py373.zip](https://github.com/CorentinJ/Real-Time-Voice-Cloning/files/4978276/rtvc_py373.zip)

Below are the install instruction I wrote down:

**Setup Conda**

DO NOT INSTALL BEFORE READING BELOW : Install for all users

[code]

**Install for all users**
To install for all users, change the install path: >>> /opt/miniconda3
[co

[2020-07-26 20:07] blue-fish commented on #449
Overall, the synthesizer training seems to be progressing nicely! I'll be interested to see as many plots and wavs as you care to share, but otherwise it's a lot of waiting now.

It would be nice if you can share in-work checkpoints, say starting at 100k and every 50k steps after that. Or generate some samples using the toolbox. I've never trained from the start and it would be interesting to see

[2020-07-26 20:29] blue-fish commented on #450
Closing this issue as we've found out the root cause (duplicate of #401). @ACG-MM , if you have further issues with toolbox setup please open a new issue.

[2020-07-26 20:29] #450 closed

[2020-07-26 20:30] #451 closed

[2020-07-26 20:30] blue-fish commented on #451
@davysouthernboy Please open a new issue if you have problems setting up the toolbox on a new operating system.

[2020-07-26 20:49] blue-fish commented on #431
### No module named 'tensorflow.contrib'

#### Summary

The toolbox requires Tensorflow 1.15 and this error message occurs when Tensorflow 2.x is installed.

#### Solution

Install Tensorflow 1.15.

If you get a pip error `Could not find a version that satisfies the requirement tensorflow==1.15` then you are likely using Python 3.8+ which is incompatible with TF 1.15. To resolve that, you will nee

[2020-07-26 22:00] mbdash commented on #449
rtvc_libritts_s_mdl @ 20k steps

[rtvc_libritts_s_mdl_20k.zip](https://github.com/CorentinJ/Real-Time-Voice-Cloning/files/4978723/rtvc_libritts_s_mdl_20k.zip)

[2020-07-26 22:22] blue-fish commented on #449
I used the original pretrained models (hereafter, LibriSpeech_278k) to synthesize the same utterance as the 20k example, also inverting it with Griffin-Lim. The clarity is about the same but there is less harshness with LibriSpeech_278k (not sure what the correct technical term for that is).

[4592_22178_000024_000001.zip](https://github.com/CorentinJ/Real-Time-Voice-Cloning/files/4978798/4592_221

[2020-07-27 00:40] blue-fish commented on #428
@gfhsrtras I'm not sure on the status on the exe, if you don't want to wait for it another option is to run it in an Amazon Sagemaker notebook, see #398 .

[2020-07-27 10:39] ACG-MM opened #452 "cant detect cudart64.dll even change the configure to right version of it."
![3](https://user-images.githubusercontent.com/63167197/88533332-b6b0af80-d038-11ea-8bd2-24e6f330aeb4.PNG)
my graphic driver cudart64.dll is under "C:\ProgramData\NVIDIA Corporation" and "C:\Program Files\NVIDIA Corporation\NvStreamSrv" also pip has installed tensorflow-gpu

[2020-07-27 12:59] mbdash commented on #449
rtvc_libritts_s_mdl @ 74k steps in ~21h

[rtvc_libritts_s_mdl_74k.zip](https://github.com/CorentinJ/Real-Time-Voice-Cloning/files/4982128/rtvc_libritts_s_mdl_74k.zip)

[2020-07-27 13:36] blue-fish commented on #452
Download the `423_add_cpu_mode` branch on my fork. Then you can run `python demo_toolbox.py --cpu` and it will override the `CUDA_VISIBLE_DEVICES` environment variable to force the toolbox to run in CPU-only mode.

If this resolves your problem I will go ahead and submit a pull request for it.

[2020-07-27 13:37] blue-fish commented on #452
If you must have GPU support then try asking your question in the CUDA setup and installation section of the NVIDIA developer forums: [https://forums.developer.nvidia.com/c/accelerated-computing/cuda/cuda-setup-and-installation](https://forums.developer.nvidia.com/c/accelerated-computing/cuda/cuda-setup-and-installation)

[2020-07-27 14:12] blue-fish commented on #449
@mbdash From that batch I find the 50k sample remarkable. Your LibriTTS-based model is much closer to the ground truth, capturing the effect of the 3 commas and question mark on prosody.

For this one clip I say your model performs better than LibriSpeech_278k but it will be interesting to see how well the model generalizes to new voices (embeddings) unseen during training.

[step-50000_comparison

[2020-07-27 14:23] blue-fish commented on #440
Hi, I am sorry to hear that you are having difficulties with the toolbox. Unfortunately the best I can offer is this form response from https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/431#issuecomment-663577257

[2020-07-27 14:26] mbdash commented on #449
Yes I keep listening to them paying attention to details and I can clearly ear the tts using the punctuation.

[2020-07-27 14:26] blue-fish commented on #431
### GPU support for the toolbox

Configuring GPU support for the toolbox is difficult. Fortunately, the toolbox can run on the CPU. Download the [`423_add_cpu_mode`](https://github.com/blue-fish/Real-Time-Voice-Cloning/archive/423_add_cpu_mode.zip) branch on my fork. Then you can run `python demo_toolbox.py --cpu` and it will override the `CUDA_VISIBLE_DEVICES` environment variable to force the to

[2020-07-27 14:28] blue-fish commented on #449
How long does it take to run each step now? Clearly it is progressing faster than 1.3-1.4 sec/step that is in the screenshot from yesterday.

[2020-07-27 14:35] mbdash commented on #449
I don't think the numbers are very accurate

![image](https://user-images.githubusercontent.com/32403586/88554788-eb9b1300-cff4-11ea-8ac8-f171f24cb4ab.png)

[2020-07-27 14:41] blue-fish commented on #449
It looks like a moving average of the last 100 steps:

https://github.com/CorentinJ/Real-Time-Voice-Cloning/blob/054f16ecc186d8d4fa280a890a67418e6b9667a8/synthesizer/train.py#L165

https://github.com/CorentinJ/Real-Time-Voice-Cloning/blob/054f16ecc186d8d4fa280a890a67418e6b9667a8/synthesizer/train.py#L207-L216

[2020-07-27 16:07] blue-fish commented on #433
@mbdash If you don't have plans for your GPU after the LibriTTS model finishes, would you be willing to help train a new encoder for better voice cloning quality?

You would use the same process as [wiki/Training](https://github.com/CorentinJ/Real-Time-Voice-Cloning/wiki/Training), but change the params for a hidden layer size of 768 instead of the current 256. There is a lot of info on this in #1

[2020-07-27 17:45] mbdash commented on #433
I will gladly put my GPU to work whenever I can.

We could go in milestones,
IE:
reach 250k on the Synth model,  (92k as we speak)
then bring the Encoder model on par,
then switch back to the Synth and bring it to 500k
back and forth to 750k, 1M 1.25M etc

Eventually I will need it to train another Library (customizing a conv ai) and use for a simulation / 3D rendering,
but until then, I can put i

[2020-07-27 20:26] blue-fish commented on #433
Thank you for contributing your time and hardware @mbdash .

If you've had a chance to look at the figure in https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/30#issuecomment-508381648 you'll notice that:

1. The encoder makes training embeds for the synthesizer,
2. The encoder and synthesizer are used to make training mels for the vocoder.

If an upstream element is changed, the downstr

[2020-07-27 20:44] mbdash commented on #433
Alright, then, let's switch training on the Encoder then.
We just passed the 103k on Synth.

Provide me with the instructions and i'll do it

[2020-07-27 20:48] mbdash commented on #449
102K reached in approx ~30h i think

[rtvc_libritts_s_mdl_102k.zip](https://github.com/CorentinJ/Real-Time-Voice-Cloning/files/4984301/rtvc_libritts_s_mdl_102k.zip)

[2020-07-27 21:25] blue-fish commented on #449
Can you make a backup of the 100k model checkpoint (or one that is in this range)? Just in case we want to come back to it later.

Is the average loss still coming down? Perhaps it converges much faster with LibriTTS. When I did the single-speaker finetuning on LibriSpeech p211 the synthesizer loss started at 0.70, and you are already in the 0.60-0.65 range.

[2020-07-27 21:52] blue-fish commented on #433
Please start by downloading the following datasets. These datasets are huge!
- **[LibriSpeech](http://www.openslr.org/12/):** train-other-500 (extract as `LibriSpeech/train-other-500`)
- **[VoxCeleb1](http://www.robots.ox.ac.uk/~vgg/data/voxceleb/vox1.html):** Dev A - D as well as the metadata file (extract as `VoxCeleb1/wav` and `VoxCeleb1/vox1_meta.csv`)
- **[VoxCeleb2](http://www.robots.ox.ac.u

[2020-07-27 22:04] megapro17 commented on #364
You said:
`there are many other better open-source implementations of neural TTS out there, and new ones keep coming every day.`
Which one are better? can you name them?

[2020-07-27 22:08] blue-fish commented on #127
If I were going to do this, I'd preprocess train.txt and convert the texts to ARPAbet using one of the methods suggested here: https://stackoverflow.com/questions/11911028/python-arpabet-phonetic-transcription

Then concat the new file with the original train.txt and finetune the model on the combined file. However, it might take a very large number of iterations before it learns ARPAbet and gener

[2020-07-27 22:19] CorentinJ commented on #364
Also when I said:

I actually meant that new _papers_ keep coming every day, not open source implementations (sadly)

[2020-07-27 22:20] kshilov opened #453 "Poor quality results - are there other ways?"
Tried this repo for cloning tasks. Also added data from libritts - but the quality of cloned voice really poor.

I just wonder are there more solutions for voice cloning task? (Let's imagine that I have some samples text-voice of cloned voice)

[2020-07-27 22:23] blue-fish commented on #453
You should fine-tune the original pretrained models on your voice samples. I have a process and example here: https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/437#issuecomment-663308789

[2020-07-27 23:47] blue-fish commented on #448
I hope this is now resolved, but if not, feel free to reopen the issue when you have more information that will allow us to continue troubleshooting.

[2020-07-27 23:47] #448 closed

[2020-07-28 00:22] blue-fish commented on #437
Changing my mind on training from scratch, I think we just need to add an extra input parameter to the synthesizer which indicates the accent or more accurately the dataset that it is trained on. A simple implementation might be a single bit representing LibriSpeech or VCTK. Next, finetune the existing models on VCTK with the added parameter. Then for inference specify the dataset that you want th

[2020-07-28 00:37] mbdash commented on #449
which files do you want me to backup so i don't mess this up?
I don't want to loose any of that work. (117K now)
I'll zip it and share.

[2020-07-28 00:43] blue-fish commented on #447
In light of #53 we should try and use fatchord's tacotron (the one bundled with [WaveRNN](https://github.com/fatchord/WaveRNN)). Main advantages being code simplicity*, no gaps in spectrograms, and known vocoder compatibility. I'll give it a shot and try to integrate it with this repo.

*Cannot be understated. From an aesthetic point of view this is the nicest Tacotron I've ever seen. Will be a ni

[2020-07-28 00:46] mbdash commented on #433
I already got train-other-500.
VoxCeleb 1 and 2 are password protected... so i gotta wait for an email with a password.
I think we should eventually get a Slack to be more efficient with comms.
I will wait for instructions and will let you know when i have all the files.
until then, i will let the Synth train and reach 125k,
Cheers!

[2020-07-28 00:48] blue-fish commented on #449
The files in `synthesizer/saved_models/logs-new_model_name/taco_pretrained`

What we need is:
[code]

Every time it reaches a new checkpoint interval it overwrites the oldest checkpoint. It's good to keep a few intermediate checkpoints in case something gets messed up along the way.

[2020-07-28 01:30] blue-fish commented on #433
Just to double-check, you have the LibriSpeech (not LibriTTS) version of train-other-500? I know it's not going to make a big difference but I'd prefer the LibriSpeech version so we can precisely replicate Corentin's setup with only one change (hidden model size).

Let's also plan on training the synth to 278k before switching to encoder training. In the meantime I am trying to work out the pytorc

[2020-07-28 02:29] blue-fish commented on #447
@sberryman Did you ever figure out an answer to this question?: https://github.com/fatchord/WaveRNN/issues/139

If you can share anything you learned working with fatchord's tacotron it would save me a lot of time.

[2020-07-28 03:30] sberryman commented on #447
I never pursued it when I didn't get a response. My assumption is that you have to concat the speaker embeddings to every time step. So basically you take the speaker embedding, expand a dimension `unsqueeze(dim=0)` and then duplicate it based on number of timesteps you are feeding forward for tacotron. So you concat that duplicated embedding to the spectrogram and that becomes the input to the ne

[2020-07-28 03:56] blue-fish commented on #447
Thank you for the prompt response, that gives me enough to work with for now. It looks like Corentin left plenty of clues in the code as to what changed for SV2TTS, like the following which describes what you mention. I find your explanation helpful. I'll let you know if I can't figure this part out.

https://github.com/CorentinJ/Real-Time-Voice-Cloning/blob/054f16ecc186d8d4fa280a890a67418e6b9667a

[2020-07-28 08:30] blue-fish commented on #447
Peer review? https://github.com/blue-fish/Real-Time-Voice-Cloning/commit/67b43593e15bfb74bd7e65c9fb041057a927245f

 That was the easy part... now to get training and synthesize to work.

[2020-07-28 13:14] sberryman commented on #447
It looks like you added the speaker embeddings to the Encoder. I would have guessed you concat after the encoder. If you look at Corentin's code you'll see he concat's the speaker embeddings to the output of the encoder.

https://github.com/CorentinJ/Real-Time-Voice-Cloning/blob/054f16ecc186d8d4fa280a890a67418e6b9667a8/synthesizer/models/tacotron.py#L158

[2020-07-28 14:19] barubbabba123 opened #455 "Error - AttributeError: 'Colorbar' object has no attribute 'set_clim'"
Hello everyone! Every time I run I got this following error:

[code]

I can comment the line and working fine, but I'd be glad to fix this.
The specific line is this last one:

[code]

Could you help me? Thanks a lot!

[2020-07-28 15:47] blue-fish commented on #447
Thanks for pointing that out @sberryman ! Pushed a couple of commits that should fix it. It is now done at the very end of the encoder to avoid duplicating the code for both training and synthesis modes. I ran WaveRNN with the bundled pretrained model to confirm that the dimensions are still correct.

https://github.com/blue-fish/Real-Time-Voice-Cloning/compare/2f59298...blue-fish:4e8d89b

[2020-07-28 15:50] sberryman commented on #447
@blue-fish exciting! I can't wait to hear how the training goes!

[2020-07-28 15:50] blue-fish commented on #455
@FulvioZozix is also experiencing this in #448 but I could not get enough data to confirm.

Can you run `pip freeze` in your terminal? I wonder if matplotlib was recently updated to remove `set_clim`

[2020-07-28 16:19] blue-fish commented on #447
Here is the general plan:

#### Check for compatibility of fatchord synthesizer with our vocoder
1. In the original WaveRNN code, modify the spectrograms to have a range of [-1, 1] instead of [0, 1]
    * See https://github.com/fatchord/WaveRNN/issues/92#issuecomment-500373398
2. Save off a mel during generation with a WaveRNN pretrained model
3. Run it through pretrained vocoder in Real-Time-Voic

[2020-07-28 16:24] blue-fish commented on #455
That is exactly what happened, the API changed in matplotlib 3.3.0:
https://github.com/matplotlib/matplotlib/blob/a8831d57207db5e9bf681e30810ce0ea146f4a31/doc/api/prev_api_changes/api_changes_3.3.0/removals.rst

@barubbabba123 Would you be so kind as to make an update and submit a pull request?

[2020-07-28 16:28] blue-fish commented on #448
This bug is confirmed, we will be tracking and fixing it in #455. Thank you for submitting the report @FulvioZozix .

[2020-07-28 16:51] dawid-niedzwiecki opened #456 "pip install -r requirements.txt gives an error"
It gives me an error message, when I run the given command `pip install -r requirements.txt`:
![image](https://user-images.githubusercontent.com/19879399/88696181-373be280-d103-11ea-9ab5-4e47b710eab5.png)
![image](https://user-images.githubusercontent.com/19879399/88696262-52a6ed80-d103-11ea-8f42-cd6ff32c1b62.png)

[2020-07-28 17:13] blue-fish commented on #431
### Pip error: `Could not find a version that satisfies the requirement tensorflow==1.15`

You are likely using Python 3.8+ which is incompatible with Tensorflow 1.15. To resolve this, you will need to switch to Python 3.6 or 3.7.

[2020-07-28 17:14] blue-fish commented on #456
https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/431#issuecomment-665165023

[2020-07-28 17:15] blue-fish commented on #452
@ACG-MM Would you please provide an update? Is this resolved?

[2020-07-28 17:49] blue-fish commented on #449
For the next synth model, I will update the code to include a few user-defined custom embedding parameters that are concatenated with the speaker embedding. These would all default to zero, but could be used to represent things like language or accent to faciltate fine-tuning and perhaps speed up training if the classification is known.

Currently, we cannot finetune an accent on the models in a w

[2020-07-28 20:43] EnergeticSpaceCore opened #457 ""OSError: [WinError 193] %1 is not a valid Win32 application" on attempt to run python scripts"
I'm set up with an Anaconda environment for Python 3.7.7
Running on a 64-bit Windows 10 system with an AMD processor.
Installed PYTorch and ffmpeg through `conda install pytorch torchvision cudatoolkit=10.2 -c pytorch` and `conda install ffmpeg` (unsure if that may introduce some difference), and the rest through the Pip requirements file.

Merged the pretrained models into the file structure, wen

[2020-07-28 20:53] blue-fish commented on #431
### OSError: [WinError 193] %1 is not a valid Win32 application

#### Summary

This error message occurs when you have multiple python environments and they are conflicting with each other.

#### Solution

See https://github.com/pytorch/pytorch/issues/27693#issuecomment-540513657 for more information.

[2020-07-28 20:55] blue-fish commented on #457
I hope that you don't mind that I try to build the FAQ while solving your problem (which also occurred in #163). Provide any info that is useful to the resolution and I will add it.

https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/431#issuecomment-665277071

[2020-07-28 21:06] blue-fish commented on #457
It may be caused by mixing `conda install` and `pip install` , you should do one or the other.

If you want to use conda, try:
[code]

[2020-07-28 22:07] blue-fish opened #458 "Training a new encoder model"
In #126 it is mentioned that most of the ability to clone voices lies in the encoder. @mbdash is contributing a GPU to help train a better encoder model.

* Increase the number of hidden layers to 768 as suggested here: https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/126#issuecomment-529235670
* All other hparams will be kept default
* We will try to strictly follow the instructions fo

[2020-07-28 23:22] mbdash commented on #449
The training on the synth   reached 200k, I stopped it to give a break to the server.
![image](https://user-images.githubusercontent.com/32403586/88735816-7a4b8500-d106-11ea-8602-17312f2a5a9e.png)

I am still downloading the datasets for the encoder, i will get started on it tomorrow.

[2020-07-28 23:27] blue-fish commented on #449
@mbdash Are you able to share the [200k checkpoint files](https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/449#issuecomment-664711953) or vocoded samples at the very least? I'd like to see how well the 200k model performs!

[2020-07-29 00:22] blue-fish commented on #267
Checking in to see if you've been able to make any progress on the exe.

[2020-07-29 04:49] blue-fish commented on #257
This is resolved @ViktorAlm ! Just needed to add the extra characters in the Swedish alphabet to `synthesizer/utils/symbols.py`. If anyone wants to use these models it might be helpful to use the [`400_pretrained_swe_301`](https://github.com/blue-fish/Real-Time-Voice-Cloning/tree/400_pretrained_swe_301) branch of my fork. I will accept pull requests if anyone wants to contribute improvements.

I a

[2020-07-29 05:34] blue-fish commented on #257
Here are some [**samples.zip**](https://github.com/CorentinJ/Real-Time-Voice-Cloning/files/4992767/samples.zip), where I take VCTK p240 and p260 and clone an English utterance with Corentin's models, and a Swedish utterance with these models. In my opinion the Swedish performs better for this example!

* Text: "Lite är känt om dess föda eller häckning och lätet som tillskrivs zapatarallen kan till

[2020-07-29 06:31] blue-fish commented on #30
@KuangDD Would you please upload the pretrained models for zhrtvc to another location? I would like to try it out but I am unable to download them from your Baidu links. It would be much appreciated if you can take the time to do this!

If anyone else has the zhrtvc pretrained models and can share them with me, that would work too.

[2020-07-29 12:52] mbdash commented on #449
Synth Trained on LibriTTS 200k steps with old /original encoder.

https://drive.google.com/drive/folders/1ah6QNyB8jIcFuKusPOVdx0pPIZxeZeul?usp=sharing

Let me know if the link works. or not and if any files are missing.

[2020-07-29 15:46] blue-fish commented on #449
Thanks @mbdash ! I got it to work but needed to put it in a folder structure like this:
[code]

The `checkpoint` is not included but it is easy enough to make it. It is a text file with a single line:
[code]

So far I am finding cloned voices sound nearly identical to Corentin's LibriSpeech_278k model, with better performance for very short text inputs (1-5 words). It is still liable to have gaps,

[2020-07-29 15:48] blue-fish commented on #456
Presumed to be resolved. Reopen this issue if you are still experiencing this specific problem, or open a new issue if you have a different problem.

[2020-07-29 15:48] #456 closed

[2020-07-29 15:49] blue-fish commented on #457
@EnergeticSpaceCore Did you resolve this?

[2020-07-29 15:50] #452 closed

[2020-07-29 15:51] #440 closed

[2020-07-29 15:52] blue-fish commented on #429
@ash1407 If you're not working on this actively then I'll close the issue for now. Reopen it when you're ready to give it a try.

[2020-07-29 15:52] #429 closed

[2020-07-29 15:55] blue-fish commented on #453
You can also read #411 for more reasons why the quality is not up to your expectations.

[2020-07-29 16:12] kshilov commented on #453
Thank you for suggestions.

Reading all issues now I better understand that it will be hard to achieve good quality with the current pre-trained model.

Do you have an example of the best samples achieved with the current repo on pre-trained only model?

[2020-07-29 16:12] mbdash commented on #449
Great to hear,
I am still downloading the voxceleb files.
Once done, i will train the encoder and we can try again training the synth from scratch.

[2020-07-29 16:42] blue-fish commented on #449
If anyone else is silently following along I would appreciate any comments on the LibriTTS_200k model (https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/449#issuecomment-665645153) so we can use that feedback to make the next one better.

[2020-07-29 16:54] blue-fish commented on #453
Corentin's youtube demo has some of the best results I've seen: https://www.youtube.com/watch?v=-O_hYhToKoA

I have considered trying to see if I can replicate these results, but haven't gotten to it yet.

[2020-07-29 18:25] EnergeticSpaceCore commented on #457
@blue-fish Unfortunately, the full set of required packages are not available on the standard conda channels. By adding the channels `conda-forge` and `dsdale24` the missing packages can be found, but they do not all have the same name (having "python" or "py" prepended).

Missing packages:
`visdom`
`soundfile`
`umap-learn`
`multiprocess`
`librosa[version='>=0.5.1']`
`pyqt5`
`sounddevice`

Modifyi

[2020-07-29 19:42] blue-fish commented on #457
You don't need `visdom` to use the toolbox. It is only ever used for encoder training which few users will ever perform.

The toolbox is a breeze to set up on a Linux system (with the exception of GPU support which is optional). You might find it easier to run it on a virtual machine with Ubuntu 18.04 if you have that option.

[2020-07-29 21:37] Adam-Mortimer commented on #437
Thank you for all your hard work on this tool - even as an almost complete newcomer to deep learning, I've been able to decipher some things, but I'm still stymied by the inability to create custom datasets from scratch. Are you still working on this "custom dataset" tool that you mention here?

[2020-07-30 04:15] Ori-Pixel commented on #437
@blue-fish any reason why im getting the following error: "synthesizer_train.py: error: the following arguments are required: synthesizer_root"? I'm trying to run:

synthesizer_train.py H:\ttss\Real-Time-Voice-Cloning-master\dataset_p240\SV2TTS\synthesizer --checkpoint_interval 100

the second argument is the folder that contains embeds, mels, and train.txt

nevermind I fixed it while writing this

[2020-07-30 04:34] blue-fish commented on #437
Hi @Adam-Mortimer. The custom dataset tool is still planned, but currently on hold as I've just started working #447 (switching out the synthesizer for fatchord's tacotron). #447 will be bigger than all of my existing pull requests combined if it ever gets finished. In other words, it's going to take quite some time.

I started writing the custom dataset tool for a voice cloning experiment. I didn

[2020-07-30 04:34] blue-fish commented on #437
@Ori-Pixel There was a problem with my command and I fixed it. If you are following everything to the letter it should be:
[code]

Where the first arg `vctkp240` is the name of the model you are training (that lives in `synthesizer/saved_models/logs-vctkp240`), the second arg is the path to the location containing train.txt, and the mels and embeds folder. Please share your results and feel free t

[2020-07-30 05:03] Ori-Pixel commented on #437
@blue-fish thanks. yeah, I can see that it's saving to a new directory, I'll run it again with the correct params and post results.

Also, thanks for the preprocessing tips you gave to @Adam-Mortimer . I was not looking forward to custom labeling, but it doesn't seem that bad if I only have ~200 lines/~34 minutes. I'm trying to make a fake (semi-Gaelic) accent video game character say some lines,

[2020-07-30 05:39] blue-fish commented on #437
@Ori-Pixel If you have a GPU you can quickly run a few experiments to see how far you can trim the dataset before the audio quality breaks down. Simply delete lines from train.txt and they won't be used.

One of my experiments involved re-recording some of the VCTK p240 utterances with a different voice. 5 minutes of mediocre data (80 utterances) still resulted in a half-decent model. If the label

[2020-07-30 05:47] blue-fish commented on #437
Oh, and just to be clear, you cannot train the voice and accent independently at this time. The accent is associated with the voice via the speaker embedding. After #447, we will work on #230 to add the Mozilla TTS implementation of GSTs. That should allow us to generalize accents to new voices.

[2020-07-30 06:30] Ori-Pixel commented on #437
@blue-fish

Is there a list of their speakers somewhere? I only was able to find the 10GB file with not even a magnet link or anything denoting samples or file structure. I mean realistically anything Irish, Scottish, or Gaelic would work. I may also look into downloading it direct to drive (if possible) and even possibly training there (if possible -- as far as I'm aware you can mount the drive a

[2020-07-30 06:37] blue-fish commented on #437
The zip file I uploaded includes `speaker-log.txt` (which is included in the full VCTK dataset) which has a list of speaker metadata such as:
[code]

[2020-07-30 06:41] Ori-Pixel commented on #437
Ah I see. I'll give it a look tomorrow along with the results and let you know then, thanks again for being so active!

[2020-07-30 08:49] ViktorAlm commented on #257
Hey! Havent followed this. Yeah the results were not that good but I managed to get it to say a few words that were difficult to distinguish. Tried it on > 100 people and only one could guess all the cloned voices. If I did it again I would test something else, like mellotron or something that followed / transformer based. In general I think you need a lot more data and cleaner than what I was usi

[2020-07-30 10:26] blue-fish commented on #434
Also see https://github.com/NVIDIA/mellotron ([samples](https://nv-adlr.github.io/Mellotron)), it can make "singing text".

It works like this: first, you train mellotron on someone else's voice to develop a text-to-speech model. When you synthesize new speech from that model, condition the output using your singing voice to make it sing.

[2020-07-30 10:59] blue-fish commented on #447
I am taking a break from this. It's one thing to get it to work, but refactoring the existing code is a tedious chore, not to mention keeping the code quality on par with the rest of the repo.

For anyone who wants to attempt this, I suggest using the vocoder as a template since that's already fatchord-style.

[2020-07-30 14:05] kkprabhu opened #459 "Issues with outputs of short and long texts"
Hello, and thank you for this great work @CorentinJ
I have below few observations. Wanted to bring them to your notice and seek your advice in fixing them.
1) For a shorter input text (~<25 characters), the generated audio has gaps/noise in between words. Is there any way to prevent it(happens consistently)?
2) For longer input text(between 25 to 120 characters), the words are skipped in between.

[2020-07-30 14:13] blue-fish commented on #459
1. See #53. It gets a little better with a LibriTTS-trained model: https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/449#issuecomment-665645153
2. Have not seen this before, can you try to find an input sequence + random seed that does this? And provide the source audio file for the embed.
3. See #347

Also see #411 for discussion about some things that should be changed or improved.

[2020-07-30 15:00] EnergeticSpaceCore commented on #457
Using `pip` to install each package succeeded, but the resultant setup threw the same error as before, with the `%1`. Pursuing the Ubuntu angle now.

Also, I'm curious what you mean by saying that I don't "need" `visdom`. It is contained in `requirements.txt` and will throw an error if not acquired properly, so I assume you mean that the setup would mostly function if I removed that line from the

[2020-07-30 15:17] blue-fish commented on #457
Visdom is not hard to install but if you are installing packages manually it can be skipped to save time. It's your call as to whether to remove that line from requirements.txt.

The only toolbox program that uses it is`encoder_train.py` and 99% of users will never touch it.

[2020-07-30 16:46] Ori-Pixel commented on #437
@blue-fish p261 is relatively close. if I could get that slice, that would be very helpful (my internet at my current house is sadly 1MB/s)

Also, just to make sure I did the test, this is the cmd I used:

`python demo_toolbox.py -d H:\ttss\Real-Time-Voice-Cloning-master\dataset_p240`

Where random seed = 1, enhanced vocoder output is checked, embedding was from p240_1.flac.

resulting audio: http

[2020-07-30 17:58] blue-fish commented on #437
@Ori-Pixel

Here is the dataset in the same format as p240 (embeds overwritten with the one corresponding to p261_001.flac): **https://www.dropbox.com/s/o6fz2r6w56djwkf/dataset_p261.zip?dl=0**

* The source p261 dataset so you can listen to the audios: https://www.dropbox.com/s/ynf823o5619j2q5/p261.zip?dl=0
* The processed audio for vocoder training (put this in `SV2TTS/synthesizer/audio`): https:

[2020-07-30 18:24] Ori-Pixel commented on #437
Ah, I didn't have that drop down selected. My results are then this, with the same settings:

https://raw.githubusercontent.com/Ori-Pixel/files/master/take%20a%20look%20at%20these%20pages%20for%20crooked%20creek%20drive%20fine%20tuned.flac

I'm also taking your comment above and trying to train my own dataset, but at first I got a dataset roots folder doesnt exist error, so I made the folder and a

[2020-07-30 19:44] blue-fish commented on #437
@Ori-Pixel You also need to add the `--no_alignments` option to use a non-LibriSpeech dataset that doesn't have an alignments file. I've also fixed the command in the instructions above. Sorry for leaving that out earlier.

[code]

[2020-07-30 23:46] Ori-Pixel commented on #437
@blue-fish Okay, so I got it to train, and I can also train my own dataset for the synthesizer. Really thankful for the help. Here's a result from 200 steps of training if you're interested:

https://raw.githubusercontent.com/Ori-Pixel/files/master/crooked_creek_dw.flac

https://raw.githubusercontent.com/Ori-Pixel/files/master/biggest_oversight.flac

[2020-07-31 00:13] blue-fish commented on #437
@Ori-Pixel Nice! It's remarkable how much that voice comes through after 200 steps of finetuning. In my own experiments going up to 400 steps yields a noticeable improvement in the voice quality. More than 400 doesn't seem to help, though it doesn't hurt either.

[2020-07-31 01:02] Ori-Pixel commented on #437
@blue-fish I did train on GPU (I always have issues with gpu setup. Luckily im building a new pc when the 30xx cards drop with the new zen2 amd cpus). It took about 20s per step after the first 20 steps so about 1.5 hours to train 200 steps on an i5-4690k.

The next steps for me would be encoder/vocoder training but I don't want to invest the compute power since Im working on another NLP problem f

[2020-07-31 04:45] gabrielmontagne commented on #347
wanted to add a workflow aside: synthesizing (at least on my rig) is cheaper.  so I tweak the line break and "synthesize only" a few times -- even a few times without changing the line breaks -- until the gaps on the spectrogram look better.  only then do I vocode.

[2020-07-31 07:03] 3dfernando opened #460 "Unusable"
This is literally unusable. Python just keeps on throwing random package errors. Now it can't install tensorflow 1.15 because my python is too high. Why don't you just program this on a solid foundation like Matlab?

[2020-07-31 11:42] mbdash commented on #460
Use Ubuntu 20 with a conda env.
I can share my conda env if you want.
(I already shared it in another thread)

[2020-07-31 15:37] blue-fish commented on #460
Thank you for sharing your experience with the toolbox setup. It is clear we still have much improvement to make in this regard.

Although the [setup instructions](https://github.com/CorentinJ/Real-Time-Voice-Cloning/blob/master/README.md#setup) clearly state Python 3.6 or 3.7 is required, not everyone reads the documentation and we should add a version check in demo_cli.py and demo_toolbox.py tha

[2020-07-31 15:40] blue-fish opened #461 "Update librosa and numba versions in requirements.txt"
Librosa 0.8.0 is now available, and that fixes the issue which required us to pin numba to 0.48.0 (#373).

We should require `librosa>=0.8` in requirements.txt and allow any `numba` that is compatible. Anyone reading this is invited to submit a pull request. You can do this!

[2020-07-31 15:41] blue-fish commented on #461
Before submitting the pull request please test it and make sure you can run demo_cli.py or demo_toolbox.py without errors, when using the latest librosa and numba.

The hard part is not the requirements.txt change, but taking the time to test it.

[2020-07-31 15:58] blue-fish commented on #458
@mbdash I will be unavailable this weekend. Hopefully the commands will just work. You can reach out to the community for help, in particular @sberryman who has gone through this in #126 .

There are two things that I hope to learn from training this new encoder model.
1. Does the voice cloning improve with the new model? (i.e. does increasing hidden layers from 256 to 768 make a difference when i

[2020-07-31 16:29] 3dfernando commented on #460
Blue-fish, since you hinted at me not reading the documentation (which is rather outrageous at the state I'm at right now), I'll share my user experience as an occasional python user:

I get to know about the paper. Then I think - you know what; I want to give this a try. Then you download this project and start reading the documentation. It tells you to install a bunch of shit that the author use

[2020-07-31 16:57] mbdash commented on #460
You know you are not paying for this right?
This is open source code maintained by volunteers.
Also, use Ubuntu, because just like you said about windows 95, windows is windows.

BUT, I get what you mean, I tried to install this repo on windows and I gave up.
And I also get the frustration, I sometimes can write stuff not very diplomatic when pissed.

So here is the Unbuntu 20 install instruction,

[2020-07-31 17:15] blue-fish commented on #460
@3dfernando I sincerely thank you for taking the time to elaborate on your setup experience and for sharing your thoughts. We see a lot of frustration vented in the comments section of Corentin's youtube video so I do think that this is a representative toolbox experience (unfortunately). Porting the code to Matlab would be good for those who have it, but I don't think anyone here has the right ex

[2020-08-02 00:53] halswift opened #462 "Output file not as clear as audio played within toolbox"
Hello, so after a week I finally got the toolbox to work (I have never worked with Python). The project I am working on is replicating my deceased father's voice to have his cloned voice read his memoir. The issue I am running into is that the output .wav file that is rendered is of lesser quality than the audible voice that the toolbox plays. I also noticed I am unable to export as a .flac file.

[2020-08-02 16:38] verosment opened #463 "Error: Model files not found. Even though ive downloaded them and added them"
[code]

[2020-08-02 16:55] #463 closed

[2020-08-02 21:54] DereWah opened #464 "Issue about training and cloning"
Hi,
I haven't really understood the point in this repo. I wanted to ask a few things:
1- If I wanted to get a voice and clone it, do I have to pretrain datasets with different sentences from that voice or I can use pretrained datasets?
2- For emebedding, can I use more than 5 seconds of audio or that's a limit?
Thamk

[2020-08-03 01:32] mbdash commented on #458
update: still preparing the data. I might start the training tomorrow.

[2020-08-03 09:19] DereWah opened #465 "The box with clusters isn't working."
Hi,
When I load different or same pretrained datasets the box where points appear and form clusters are not working. Just nothing happens there. How can I solve this?
Also the audio often seems "doubled" or with a lot of noise. How can I improve that?
Thank you

[2020-08-03 10:03] DereWah commented on #465
Solved 👍
pip uninstall matplotlib
pip install matplotlib==3.2.2

[2020-08-03 10:03] #465 closed

[2020-08-03 13:50] mbdash commented on #458
Preprocess started @09h50 EST 2020 08 03

![image](https://user-images.githubusercontent.com/32403586/89189892-a899ec00-d56e-11ea-88fe-5829b2a1c1b1.png)

Question:
why do I need to start visdom ?

[2020-08-03 15:15] shoegazerstella commented on #449
Hi @mbdash and thank you for sharing this new synth model!
I have tried it and it seems the voice is identical wrt the one generated by the old synth model. To me also the other was fairly similar to the input voice. However, I find it to be noisier compared to the old one. Do you think you can achieve better performances by also training the encoder? Is the noise due to some imperfections in the

[2020-08-03 15:58] blue-fish commented on #458
It's optional, but starting a visdom server allows you to visualize the training results by navigating to `http://localhost:8097`

The umap projections will let us know whether the encoder has learned to distinguish between the voices in the training set. This in turn helps us decide when to stop training.

[2020-08-03 16:21] adfost commented on #437
@blue-fish I did exactly what you said, after over 10000 steps with the synthesizer, I try to open the toolbox. I type the text to convert into the box, and I get some unrelated text in an almost incomprehensible ramble.

[2020-08-03 17:26] mbdash commented on #458
update
I got a crash. I have to figure out what happens.

The dataset resides on a nfs share on my unraid host. many TB avail, so it is not a lack of space for the dataset.
I will force change chown -R user and chmod -R 766 on the whole dataset and try again.

![image](https://user-images.githubusercontent.com/32403586/89206107-c3785a80-d586-11ea-957e-546dd8405f6a.png)

[2020-08-03 17:40] blue-fish commented on #449
@shoegazerstella Thank you for reporting the issue, would you please share some audio samples with us that demonstrate what you are talking about?

Just to speculate, the audio preprocessing could be adding noise or other artifacts into the sound files, it is worth doing a before and after comparison. LibriTTS is 24 KHz instead of the 16 KHz in LibriSpeech (used to train the original models), and

[2020-08-03 17:49] blue-fish commented on #458
By any chance did you have the text file (`<datasets_root>/LibriSpeech/_sources.txt`) open in a viewer?

[2020-08-03 18:11] blue-fish commented on #437
@adfost Which set of instructions are you following? LibriSpeech (https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/437#issue-663639627) or VCTKp240 (https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/437#issuecomment-663308789)?

Most likely, when you run `synthesizer_train.py` it cannot find the pretrained model so it starts training a new synthesizer model from scratch. Pleas

[2020-08-03 18:16] mbdash commented on #458
Nope.
It might have been a hickup due to using and nfs share.

I noticed this file rights:
-rw-r--r-- 1 99 users  Log_LibriSpeech_train-other-500.txt

Rights inheritance might have caused some issues since my user would fall under group:users.
Changing the dataset root folder owner recursively instead of relying on group membership should fix the issue.

I'll keep you posted on updates.

[2020-08-03 19:12] hvent90 opened #466 "How can I train this on my voice?"
Sorry for the (probably) obtuse question. :)

[2020-08-03 19:55] mbdash commented on #466
hi, see https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/437

[2020-08-03 23:19] blue-fish commented on #465
The issue with matplotlib is a known issue: #455

Does the audio issue occur when you click the "replay" button? I notice if the computer has high CPU usage trying to plot the umap projection it will affect the playback. But I don't get that issue when using "replay".

[2020-08-03 23:36] mbdash commented on #458
I fixed the previous error (see bottom of comment) but I got another crash in VoxCeleb2:
![image](https://user-images.githubusercontent.com/32403586/89236804-89777a80-d5bf-11ea-9573-2240618b0956.png)

**For the previous crash,**
I took a guess at the issue, my guess is that in encoder/preprocess.py
the file handle is kept open for too long (1h30min+) and the file handle get's f'ed up.
So I made so

[2020-08-04 01:02] blue-fish commented on #458
@mbdash Searching on the error message I came across the suggestion to convert the m4v files to wav which should fix the problem for voxceleb2: https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/76#issuecomment-529013562

[2020-08-04 08:19] shoegazerstella commented on #449
Hi @blue-fish , shure I can share some examples here:
* [Example 1: (LibriSpeech_278)](https://vocaroo.com/jMqzmL7LbHW)
* [Example 2: (LibriTTS_200k)](https://vocaroo.com/9gGRuY2Wh1O)

* [Example 3: (LibriSpeech_278)](https://voca.ro/90ZsePILzWb)
* [Example 4: (LibriTTS_200k)](https://voca.ro/6Z9lkjWS3xa)

Thank you for the explanations on the preprocessing steps!
I have one question, was the mode

[2020-08-04 09:26] blue-fish commented on #449
Thanks for sharing the samples @shoegazerstella ! The increased noise on LibriTTS_200k is quite obvious. In addition to more training I think it could also benefit from a new vocoder.

LibriTTS_200k is trained from scratch. We have several problems with LibriSpeech_278k, the most annoying of which is the long gaps that appear in the middle of spectrograms (#53). The training from scratch is part o

[2020-08-04 09:54] blue-fish commented on #364
Mozilla TTS has a PR implementing SV2TTS: https://github.com/mozilla/TTS/pull/472

Have not tried it yet, but if/when it outperforms this one, it would be a good project to port the toolbox UI and maybe the preprocessing scripts over to that implementation. (I will not be the one to do it, but putting it out there as an idea.)

[2020-08-04 13:10] Tayal-S opened #467 "Could not find Source.Txt file in dataset"
Hi

In ENCODER, speaker.py reads source.txt from data set which is not found. When i run the train loop , it is showing me error:

FileNotFoundError: Caught FileNotFoundError in DataLoader worker process 0.
Original Traceback (most recent call last):
  File "/home/shivani/anaconda3/lib/python3.7/site-packages/torch/utils/data/_utils/worker.py", line 178, in _worker_loop
    data = fetcher.fetch(in

[2020-08-04 13:18] DereWah commented on #437
I have a set of 5 seconds long flac files from a single speaker. Is it possible to train it without any transcript?

And also, I noticed that in this procedure the training of the encoder, audio and embedding is completely skipped (python encoder_preprocess.py <datasets_root>) without leaving any data to restrict synthetizer training. [I'm new to deep learning and this is what I have "deciphered"

[2020-08-04 15:24] DereWah commented on #437
I am getting this error while preprocessing the audio for my own dataset (not from LibriSpeech, it has no alignment)
Traceback (most recent call last):
  File "synthesizer_preprocess_audio.py", line 59, in <module>
    preprocess_dataset(**vars(args))
  File "D:\Python\Real-Time-Voice-Cloning\synthesizer\preprocess.py", line 49, in preprocess_dataset
    print("Max input length (text chars): %d" %

[2020-08-04 15:30] blue-fish commented on #437
@DereWah As you reasoned, the transcripts are necessary to train the synthesizer (which you can think of as a black box that converts text to mels). Make your folder in the same structure as https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/437#issuecomment-666099538 and it should work. In the future, please also include the python command that was run to facilitate troubleshooting. Good

[2020-08-04 15:34] Ori-Pixel commented on #437
@DereWah check this [comment](https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/437#issuecomment-666641548)

I think the no-alignments option will fix this error since I had that as well in the comment above. Also add your console/terminal command

[2020-08-04 15:37] DereWah commented on #437
This is the command I am using:
python synthesizer_preprocess_audio.py  synthesizer/saved_models/logs-singlespeaker/datasets_root -n 1 --no_alignment

Using no_alignment isn't changing anything. Also I am trying to run this on my GPU, I have cudart64_100.dll and I have installed requirements_gpu.txt

There must be a problem with generating the metadata, I think it will be fixed by making the folde

[2020-08-04 15:48] biplab1 opened #468 "SyntaxError: invalid syntax when running python demo_cli.py"
[code]

[2020-08-04 15:49] biplab1 commented on #468
Resolved by replacing ":" by "="

def print_args(args=argparse.Namespace, parser=None):

[2020-08-04 15:55] blue-fish commented on #468
Try replacing `python` with `python3` in your command.
On many systems "python" defaults to python2 which is incompatible.

[2020-08-04 15:56] DereWah commented on #437
And also, how should the utterance.txt file be formatted? Thank you for the help and the patience

[2020-08-04 15:56] biplab1 commented on #468
Just did that, it works now.

[2020-08-04 15:56] #468 closed

[2020-08-04 16:04] Ori-Pixel commented on #437
@DereWah mine only have the line of text of the spoken line:
utterance-000.txt contains `Mireska is here.`
utterance-001.txt contains `Are you ready to have some fun, ya?`
etc.

[2020-08-04 16:14] DereWah commented on #437
It worked, I managed to generate those files into datasets_root\SV2TTS\synthesizer. Thank you :)

[2020-08-04 16:15] blue-fish commented on #457
@EnergeticSpaceCore Can you provide an update? I hope this is resolved, but if you're still trying to set up, it would be helpful to know the current problem point.

[2020-08-04 16:26] blue-fish commented on #464
1. The pretrained models can generalize to voices and speech (text) unseen during training. This is known as zero-shot voice cloning.
    * The finetuning in #437 is completely optional and will get better results by training on voice samples of the target speaker.
2. Any length of audio can be used (I've done 20 minutes before) but the characteristics of the speaker will be averaged over the enti

[2020-08-04 16:33] DereWah commented on #437
I am getting this error:

Traceback (most recent call last):
  File "synthesizer_train.py", line 55, in <module>
    tacotron_train(args, log_dir, hparams)
  File "D:\Python\Real-Time-Voice-Cloning\synthesizer\train.py", line 392, in tacotron_train
    return train(log_dir, args, hparams)
  File "D:\Python\Real-Time-Voice-Cloning\synthesizer\train.py", line 144, in train
    feeder = Feeder(coord,

[2020-08-04 16:45] DereWah commented on #437
Fixed, by using and editing the command in the readme:
Now the pretrained synthesizer model can be trained on the reduced dataset. No changes to hparams are needed.
[code]
It is now saying No model to load at synthesizer/saved_models/logs-first_run\taco_pretrained

Generated 0 test batches of size 36 in 0.000 sec
Generated 64 train batches of size 36 in 137.217 sec
etc.

I guess it's training.

I

[2020-08-04 17:03] biplab1 opened #469 "No matching distribution found for tensorflow==1.15"
From the installation instructions: Run pip install -r requirements.txt to install the remaining necessary packages.

[code]

[2020-08-04 17:11] Ori-Pixel commented on #437
@DereWah

Make sure your logs-first_run folder is a copy of the logs-pretrained or you won't get a good output. In that folder are the checkpoints it's loading to then finetune on top of.

[2020-08-04 17:16] blue-fish commented on #467
This looks like the same issue as #161 and #262. Please make sure you specify the path to your <datasets_root> folder as described in the [wiki documentation](https://github.com/CorentinJ/Real-Time-Voice-Cloning/wiki/Training#preprocessing-and-training).

If it still doesn't work, please share the command that you are using to run encoder_train.py.

[2020-08-04 17:17] blue-fish commented on #469
Let me know if this doesn't solve your issue: https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/431#issuecomment-665165023

And if it does resolve it, please close this one.

[2020-08-04 17:27] blue-fish commented on #437
The tensorflow 1.15 binaries provided by pip are only compatible with CUDA 10.0. GPU support for the synthesizer (the only part that relies on tensorflow) requires you get a proper nvidia driver version and cuda libraries. You will lose much more time setting that up, than you stand to gain in speedup for those 400 steps. (If it is 10 sec/step with the i7 and 1 sec/step with GPU, the speedup will

[2020-08-04 17:39] DereWah commented on #437
I think I have already setup the CUDA 10.0, and when I run it tensorflow says success message about opening cudart64_100.dll .
I have also followed this tutorial :https://poorlydocumented.com/2019/11/installing-corentinjs-real-time-voice-cloning-project-on-windows-10-from-scratch/ and I have cudnn64_7.dll . I just don't know how to activate the GPU. Also, from training with only 13 and a half minu

[2020-08-04 17:47] Ori-Pixel commented on #437
@DereWah The model, from the above CLI instruction `--checkpoint_interval 100` only saves checkpoints ever 100 steps. So cancelling training after a fixed amount of time, if it hasn't reached a checkpoint and saved, won't change anything. You need to just check back with the terminal every once in a while and see if it's saved. The recommended amount from blue-fish is at least 200 steps (2 checkpo

[2020-08-04 17:56] adfost commented on #437
@blue-fish Thank you for the help, I got it to work. However, the model I trained seems to work much better with longer input than shorter phrases. I think that the problem is that lack of shorter examples in the training set I used. Any suggestions for better training sets?

[2020-08-04 18:03] blue-fish commented on #437
@Ori-Pixel Thanks for helping others get this to work.

@adfost In general the toolbox performs best for inputs of 10-20 words. What problems are you noticing? They might be inherited from the synthesizer architecture and pretrained models.

[2020-08-04 18:17] mbdash commented on #458
@blue-fish I will try to convert them when I have some time.
I'll keep you posted.

[2020-08-04 18:21] hvent90 commented on #466
Thanks!

[2020-08-04 18:21] #466 closed

[2020-08-04 19:25] adfost commented on #437
@blue-fish If I say something like "Thank you for using our product", it says "thank you" followed by a very long pause, and then the rest of the sentence.

[2020-08-04 19:58] DereWah commented on #437
I meant only 13 and a half minutes of datasets, not of overall time.

[2020-08-04 20:12] blue-fish commented on #437
@adfost The gaps in spectrograms are a known issue (#53). I would also like to fix this but it's not easy: https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/364#issuecomment-653996443 . To workaround the issue you can use the "enhance vocoder output" option to trim the silences if you have `webrtcvad` installed.

@DereWah I've finetuned a voice using as little as 5 minutes of data. I wou

[2020-08-04 20:22] blue-fish commented on #431
### Invalid syntax `def print_args(args: argparse.Namespace, parser=None)`

#### Summary
On many systems (Linux in particular), `python` defaults to Python 2.x which is not compatible with the toolbox. You will need to replace `python` with `python3` in all commands to use the correct version.

#### More information
The error message looks like this.
[code]

[2020-08-04 20:28] DereWah commented on #437
Thank you

Also do you know how to acivate the GPU instead of the CPU? I have the correct cuda versions and files. Thank you.

[2020-08-04 20:30] adfost commented on #437
@blue-fish Where is the enhance vocoder output option?

[2020-08-04 20:47] blue-fish commented on #437
@DereWah I have been unsuccessful in my own attempts to get Tensorflow GPU support, so I can't help you there. GPU support for pytorch is much easier. We'll have it for the synthesizer following #447 (if it ever gets done).

@adfost You need to be using demo_toolbox.py, it's on the right side of the toolbox UI: https://github.com/CorentinJ/Real-Time-Voice-Cloning/pull/432#issuecomment-660940390

T

[2020-08-04 20:59] DereWah commented on #437
Understood. I'll just go with the CPU. Also while talking with a friend about the project we found out we got totally different outputs while trying it. Him, while using only the CLI on a colab was gettin .wav files without much noise or distortion.

Instead while I tried using the toolbox on my pc was getting distorted and "doubled" results. Both of use were using the same voices for embedding (n

[2020-08-04 21:16] blue-fish commented on #437
You probably don't have `webrtcvad` on the PC unless you went out of your way to install it. We took it out of requirements.txt because it was causing grief (#375). But it will clean the audio before making a speaker embed with it.

For quality of the saved wavs using toolbox vs CLI they both use `soundfile.write()` with resampling enabled. There could be some platform differences in libsndfile.

[2020-08-05 00:03] adfost commented on #437
@blue-fish another problem: if I put in too long of an input, I get it sometimes completely mispronouncing the last word or couple words

[2020-08-05 01:35] bhrt-sharma commented on #469
@biplab1  please create a virtual environment using "virtualenv venv_name -p python3" and not using "python3 -m venv venv_name"
then you will note get this error.

[2020-08-05 05:15] blue-fish commented on #449
Would anyone else like to contribute a GPU to help develop a better synthesizer model? Reply here and get started by preprocessing LibriTTS: https://github.com/CorentinJ/Real-Time-Voice-Cloning/issues/449#issuecomment-663785345

[2020-08-05 09:16] biplab1 commented on #469
Downgrading Python to 3.7 helped.

[2020-08-05 09:16] #469 closed

[2020-08-05 09:17] biplab1 commented on #469
couldn't make it work using this method. Still getting the error mentioned above.

[2020-08-05 10:55] DereWah commented on #437
@blue-fish Hi, I have started training the vocoder. I wanted to ask about a few concerns I had while going through the process.
While training the syntethizer, it seems to resume a checkpoint of 428k steps. Is that what it should do?

And also, while training the vocoder I did this:

But the Loss at every epoch doesn't seems to "increase" than slightly decrease than "increase again":

{| Epoch: 1

[2020-08-05 12:52] blue-fish commented on #437
@adfost The problems with inputs too long also occurs with other Tacotron-based text-to-speech implementations. It would be nice to fix but I don't know where to start. For now we just work around it by manually conditioning our input text.

@DereWah Yes, the pretrained vocoder has 428k steps so it will resume from there. I also have a 1159k that I think is slightly better (see the "002" model in

[2020-08-05 13:02] DereWah commented on #437
@blue-fish Thank you for the reply.

import torch
torch.cuda.is_available()
Go find a troubleshooting guide. You can also go through the pytorch source code to where that's set, and work your way back to see why it's evaluating to False.

I am currently running on a colab, so I should be able to run it on a GPU. When I tried that I was getting some errors about the process location, so I just set

[2020-08-05 13:50] blue-fish commented on #437
It's 45 sec/step when I run it on CPU so that's not completely unexpected. A fast computer can get it in less than 10 sec/step (I've seen as low as 6 sec/step on CPU and know it can go even faster).

[2020-08-05 17:14] DereWah commented on #437
Yeah, I got it on a colab and it's going at 4.215 sec/step . The next step should be preprocessing the vocoder and training it. You said that it is easy to run it on a GPU, is that done automatically? When I was generating the epochs I noticed my colab was set the wrong way and there was no GPU. Running the command will put the process automatically on the GPU?
Thank you @blue-fish

[2020-08-05 17:36] blue-fish commented on #437
Yes, if `torch.cuda.is_available()` evaluates True then the vocoder runs on GPU.

[2020-08-05 18:04] adfost commented on #437
@blue-fish Do you know of any other good datasets I can train this on? One of its major weakness is its inability to pronounce the word "program" correctly, is there a good dataset including this word for instance?

[2020-08-05 18:07] DereWah commented on #437
Okay, thank you 👍

Also while training the synthesizer these are the wavs I am getting every hundred steps: [200 steps](https://file.io/HawfJNPNWHIk) [500 steps](https://file.io/bMIwvU3TYtHV) These seems like distorted as in a previous issue I had (Outputs were doubled and distorted on the toolbox, but not on the CLI) .

To train the synthesizer I am running `!python synthesizer_train.py first-run

[2020-08-05 18:30] Ori-Pixel commented on #437
@adfost I'm sure you've taken a look at the [wiki](https://github.com/CorentinJ/Real-Time-Voice-Cloning/wiki/Training#datasets). You could find voices similar to what you need in there, or you could transform some other sets to fit the trainer (such as google's audioset).

The inability to pronounce the /r/ [r] in /program/ may be due to the embedding space. Try using the embedding from a clip tha